﻿@using NonFactors.Mvc.Grid;

@model IEnumerable<RohTjWeb.Models.Client>

@{
    ViewData["Title"] = "Клиент";
}

<h2>Клиент</h2>

<p>
    <a asp-action="Create">Создать новый</a>
</p>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.FirstName).Titled("Имя");
        columns.Add(model => model.PhoneNumber).Titled("Номер телефона");

        columns.Add(model => model.Gender).Titled("Пол");
        columns.Add(model => model.IsDriver).Titled("Водитель");
        columns.Add(model => model.Balance).Titled("Остаток");

        columns.Add(model => $"<div class='dropdown'>" +
        $"<button class='btn btn-sm btn-primary dropdown-toggle' type='button' data-toggle='dropdown'>Действие <span class='caret'></span></button>" +
        $"<ul class='dropdown-menu'>" +
        $"<li><a href=\"{Url.Action("Edit", "Client")}/{model.Id}\">Редактировать</a></li>" +
        $"<li><a href=\"{Url.Action("Details", "Client")}/{model.Id}\">Детали</a></li>" +
        $"<li><a href=\"{Url.Action("Delete", "Client")}/{model.Id}\">Удаление</a></li>" +
        $"</ul></div>").Encoded(false);
        
    })
    .Filterable()
    .Sortable()
    .Pageable()
    .Empty("По вашему запросу ничего не найдено")
)
