﻿@using NonFactors.Mvc.Grid;

@model IEnumerable<RohTjWeb.Models.RegistrationCode>

@{
    ViewData["Title"] = "Index";
}

<h2>Код регистрации</h2>

<p>
    <a asp-action="Create">Создать новый</a>
</p>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Code).Titled("Code");
        columns.Add(model => model.Client.PhoneNumber).Titled("Клиент");
        columns.Add(model => model.UpdatedAt).Titled("Дата обновления");
        columns.Add(model => model.UsedTime).Titled("Использованное время");
        columns.Add(model => $"<div class='dropdown'>" +
        $"<button class='btn btn-sm btn-primary dropdown-toggle' type='button' data-toggle='dropdown'>Действие <span class='caret'></span></button>" +
        $"<ul class='dropdown-menu'>" +
        $"<li><a href=\"{Url.Action("Edit", "RegistrationCode")}/{model.Id}\">Редактировать</a></li>" +
        $"<li><a href=\"{Url.Action("Details", "RegistrationCode")}/{model.Id}\">Детали</a></li>" +
        $"<li><a href=\"{Url.Action("Delete", "RegistrationCode")}/{model.Id}\">Удаление</a></li>" +
        $"</ul></div>").Encoded(false);

    })
    .Filterable()
    .Sortable()
    .Pageable()
    .Empty("По вашему запросу ничего не найдено")
)
