@model RohTjWeb.Models.SysSetting

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>SysSetting</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="SettingType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SettingType" class="form-control" asp-items="Html.GetEnumSelectList<SettingType>()"></select>
                <span asp-validation-for="SettingType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SettingCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SettingCode" class="form-control" asp-items="Html.GetEnumSelectList<SettingCode>()"></select>
                <span asp-validation-for="SettingCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Value" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
        </div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CreatedAt" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedAt" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
