﻿@{
    Layout = "~/Views/Shared/_Layout_site.cshtml";
    ViewData["Title"] = "Roh";
}

<div class="container1">
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="~/images/slider/slider_3.jpg" alt="First slide">
                <div class="container">
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="~/images/slider/slider_2.jpg" alt="Second slide">
            </div>
            <div class="item">
                <img class="third-slide" src="~/images/slider/slider_1.jpg" alt="Third slide">
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->
</div><!-- /.container1 -->
<!-- Begin page content -->
<div class="container">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Грузовое такси <span class="text-muted"></span></h2>
            <p style="text-align: left;">
                <strong>Вы собираетесь в магазин за габаритной бытовой техникой, стройматериалами или вам нужна перевозка мебели по фиксированной цене?</strong><br>
                Отправляйтесь и покупайте всё, что вам нужно. Сделав покупки, закажите грузовое такси В Roh. Через некоторе время к магазину подъедет машина, и грузчики помогут загрузить вещи.
            </p>
            <p style="text-align: left;">
                <strong>Один клик — и грузовое такси в пути</strong><br>
                Оставьте свой заказ в приложении или расскажите оператору, что вы хотите заказать машину и что предстоит перевозить, он задаст несколько уточняющих вопросов.Также вы можете заказать грузовое такси, чтобы недорого увезти груз с вокзала или из аэропорта.
            </p>
            <p style="text-align: left;">
                <strong>Закажите, когда хотите</strong> <br>
                Оставьте заявку заранее в приложении или позвоните в любое время — в любом случае водитель не заставит себя ждать. Стоит отметить, что ночью действуют специальные тарифы на грузоперевозки, к тому же на дорогах меньше машин — груз доедет быстрее.
            </p>


            <p style="text-align: left;">Это далеко не все случаи, когда стоит воспользоваться услугами <strong>Грузовое такси</strong>. В любой ситуации мы относимся к клиенту с пониманием и готовы рассмотреть ваши предложения и пожелания, касающиеся сервиса.</p>

            <p class="lead">
                По направлению грузовое такси - в меню приложения перейдите в «Грузовые»
                Отправьте свой заказ водителям, предлагайте свою цену
            </p>
            <img class="featurette-image img-responsive center-block" src="~/images/mejgorod.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->
</div>