﻿@model RohTjWeb.Models.Feedback
@{
    Layout = "~/Views/Shared/_Layout_site.cshtml";
    ViewData["Title"] = "Контакты";
}

<div class="container">
    <div class="m-t-1">
        <h1 class="text-muted text-xs-center">Наш Адрес:</h1>
    </div>

    <!-- Contact Section -->
    <div class="container relative">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Google Map -->
                <div class="map_container" onClick="style.pointerEvents='none'">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9119.447485517912!2d69.61173749158709!3d40.292395954565826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDDCsDE3JzQ5LjIiTiA2OcKwMzYnNDkuOCJF!5e0!3m2!1sru!2sru!4v1475851457925" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div><!-- End Google Map -->
            </div>
        </div><!-- End row of columns -->
    </div>

    <center>
        <div class="text-xs-center text-muted">
            <h4>Республика Таджикистан, г. Худжанд, ул. Б. Усманова 16</h4>
            <h4><span class="glyphicon glyphicon-earphone"></span> +992 92 888 55 88</h4>
            <h4><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@roh.tj">info@roh.tj</a></h4>
        </div>

        <!-- End Contact Section -->
        <!-- Contact Form -->
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                @if (ViewData["Message"] != null)
                {
                    <strong style="color:@ViewData["message_color"]"> @ViewData["Message"] </strong>
                }

                <form asp-action="Contact">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="clearfix">

                        <div class="col-md-6">

                            <!-- Name -->
                            <div class="form-group">
                                <input asp-for="Title" class="form-control" placeholder="Название темы" />
                                @*<input type="text" name="name" id="name" class="input-md round form-control" placeholder="Имя" pattern=".{3,100}" required>*@
                            </div>

                            <!-- Email -->
                            <div class="form-group">
                                <input asp-for="Phone" class="form-control" placeholder="99292XXXXXXX" />
                                <span asp-validation-for="Phone" class="text-danger" />
                                @*<input type="email" name="email" id="email" class="input-md round form-control" placeholder="Email" pattern=".{5,100}" required>*@
                            </div>

                        </div>

                        <div class="col-md-6">

                            <!-- Message -->
                            <div class="form-group">
                                <textarea asp-for="Message" class="form-control" placeholder="Текст сообщения" rows="4"></textarea>
                                @*<textarea name="message" id="message" class="input-md round form-control" style="height: 84px;" placeholder="Сообщение"></textarea>*@
                            </div>

                        </div>

                    </div>

                    <div class="clearfix">

                        <div class="col-md-6">

                            <!-- Inform Tip -->
                            <div class="form-tip pt-20">
                                <i class="fa fa-info-circle"></i> Заполните все поля
                            </div>

                        </div>

                        <div class="col-md-6">

                            <!-- Send Button -->
                            <div class="align-right pt-10">
                                <input type="submit" value="Отправить Сообщение" class="btn btn-default" />
                            </div>

                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- End Contact Form -->
    </center>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


