﻿@{
    Layout = "~/Views/Shared/_Layout_site.cshtml";
    ViewData["Title"] = "Roh";
}

<div class="container1">
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="~/images/slider/slider_3.jpg" alt="First slide">
                <div class="container">
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="~/images/slider/slider_2.jpg" alt="Second slide">
            </div>
            <div class="item">
                <img class="third-slide" src="~/images/slider/slider_1.jpg" alt="Third slide">
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->
</div><!-- /.container1 -->
<!-- Begin page content -->
<!-- Begin page content -->
<div class="container">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <!-- START THE FEATURETTES -->

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading"><span class="text-muted">Диспетчерская служба</span></h2>


            <p>
                Диспетчерская нашей службы такси работает круглосуточно, заявки принимаются как днем, так и ночью, обработка заказов производится оперативно. Телефон диспетчерской указан на сайте. Вне зависимости от того, когда вам потребовалось такси, вы можете заказать его в нашей компании как по телефону, так и с помощью онлайн-заявки: для этого достаточно заполнить форму на официальном сайте. Диспетчер свяжется с вами, назовет номер такси, назначенного по вашей заявке, чтобы вам проще было его найти.
            </p>
            <p>
                Список наших услуг включает:
            </p>
            <ul>
                <li>возможность вызвать такси, которое быстро доставит вас до места назначения в российской столице;</li>
                <li>заказ такси для быстрой доставки пассажиров в аэропорты и на вокзалы (такси по маршруту Худжанд &ndash; аэропорт или Худжанд &ndash; вокзал &ndash; отличный способ вовремя успеть на самолет или поезд);</li>
                <li>возможность заказа автомобиля представительского класса;</li>
                <li>возможность заказать такси с детским автокреслом;</li>
                <li>курьерская доставка небольших грузов и документации;</li>
                <li>обслуживание различных мероприятий: корпоративных вечеров, свадеб, экскурсий и т. д.</li>
            </ul>
            <p>
                Также мы предлагаем услугу "Трезвый водитель" на тот случай, если человеку, ставшему участником праздника, необходимо перегнать автомобиль по городу, из города в область, из области в город.
            </p>
            <p>
                В ситуации, когда обычное такси оказывается недостаточно вместительным для большой группы пассажиров, мы можем предоставить вам минивэн или микроавтобус.
            </p>
            <p>
                Компания "Roh" гарантирует качественное оказание всех услуг, а также доступную стоимость заказа автомобиля.
            </p>
            <h2>Преимущества заказа такси в нашей компании</h2>
            <p>
                При заказе официального такси в компании "Roh" вы получаете возможность совершить поездку на транспортном средстве, находящемся в безупречном техническом состоянии. В нашей службе такси используются автомобили, эксплуатирующиеся не более 2 лет.
            </p>
            <p>
                Каждый вызов обслуживается опытным, высококвалифицированным водителем. Он хорошо знает дорогу, способен быстро скорректировать маршрут, чтобы не попасть в пробку.
            </p>
            <p>
                Мы предлагаем возможность выбрать уровень комфорта такси по маршруту Худжанд &ndash; аэропорт либо автомобиля, который доставит вас из одной точки города в другую. К вашим услугам &ndash; автомобили эконом-, комфорт-, бизнес- и VIP-класса.
            </p>
            <p>
                Чтобы заказать надежное, комфортабельное такси, вы можете:
            </p>
            <ul>
                <li>позвонить по телефону +99292 888 55 88</li>
            </ul>

            <img class="featurette-image img-responsive center-block" src="~/images/driver.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->
</div>