@{
    Layout = "~/Views/Shared/_Layout_site.cshtml";
    ViewData["Title"] = "Помошь";
}
<h2>@ViewData["Title"]</h2>

<div class="rules_info">
    <center> <h5><strong>Помощь Пассажиру</strong></h5></center>

    <p>
        <strong>1.	Как связаться с администрацией?</strong><br>
        Напишите на почту admin@roh.tj или по телефону 928885588<br>
        <strong>2.	После оформления заказа мне никто не позвонил.</strong><br>
        Повторите заказ.<br>
        Попробуйте увиличите увеличить стоимость заказа<br>
        Найдите машину с раздела свободных водителей<br>
        <strong>3.	Как оставить отзыв о водителе </strong><br>
        После выполнения заказа у Вас откроется окно, где вы сможете оставить отзыв о водителе <br>
        <strong>4.	Вам не понравилась? Или возникла конфликтная ситуация? </strong><br>
        Оставьте негативный отзыв о водителе после поездки: <br>
        напишите нам через форму обратной связи в боковом меню приложения <br>
        или на почту admin@roh.tj После проверки достоверности данных нарушители будут заблокированы.<br>
        <strong>5.	Приложения постоянно просит ввести свой номер телефона</strong><br>
        Если у вас двух симкартный телефон переставьте вашу симкарту на первый слот<br>
        <strong>6.	Забытые вещи </strong><br>
        Напишите на почту admin@roh.tj вы можете также позванить в службу поддержки клиентов на номер 928885588 <br>
        Будьте готовы назвать время и маршрут поездки, а также по возможности марку машины, свет и гос.номер.<br>
        Мы поможем решить эту ситуацию.
    </p>

    <center> <h5><strong>Помощь Водителю</strong></h5></center>

    <p>
        <strong>1.	Как взять заказ?</strong><br>
        В приложении есть лента заказов. Если вы хотите взять заказ надо нажать на него, в зависимости от схема работы выйдет окно с временем подачи либо автоматический звонок пассажиру<br>
        <strong>2.	Как связаться с техподдержкой?</strong><br>
        Напишите на почту admin@roh.tj или позвоните 928885588<br>
        <strong>3.	Нет моей марки машины в каталоге</strong><br>
        Напишите разработчикам admin@roh.tj<br>
        <strong>4.	Пассажир не вышел на заказ или возникла конфликтная ситуация</strong><br>
        Просим вас написать жалобу на почту admin@roh.tj или через форму обратной связи в боковом меню приложения.
        После проверки достоверности данных нарушители будут заблокированы<br>
        <strong>5.	Невозможно дозвониться до клиента, постоянно занято</strong><br>
        У вас низкий рейтинг или Вы находитесь от клиента дальше чем те водители, которые отправляют запрос по данному заказу Поменяйте ваше
        местоположение. Предоставляйте сервис на высоком уровне – это поможет получать хорошие оценки.<br>
        <strong>6.	Неверно показывает время заказа (Секунды запаздывают или перегоняют)</strong><br>
        Даная ошибка появляется при рассинхронизации времени на вашем телефоне и на сервере.<br>
        Попробуйте перезапустить приложение и найти стабильный мобильный интернет <br>
        <strong>7.	Приложение не совершает исходящие звонки по заказам</strong><br>
        Попробуйте переустановить приложение и при первом звонке нажать «Разрешить» и выберите пункт «Телефон» В настройках телефона дайте доступ к звонкам Приложений - ROH: Настройки-Разрешения приложения-ROH-Совершать звонки-Разрешить<br>
        <strong>8.	Показывает заказы из другого города</strong><br>
        Выберите любой другой город, нажмите сохранить. Снова выберите свой город. Перезапустите приложение<br>
        <strong>9.	Приложение просит включить GPS при включенном GPS</strong><br>
        Если у вас телефон двух симкартный переставьте сим карту, которая зарегистрирована в приложении ROH на 1 слот.<br>
        Если IPhone – в настройках приватности (конфиденциальность) дать приложению ROH доступ к геоданным  или переустановить приложение.<br>
        Если Android – отключать режим экономии питания, выключить галочки GPS и снова включить.<br>
        <strong>10.	Приложение постоянно просит ввести свой номер телефона</strong><br>
        Если у вас двух симкартный телефон, переставьте ваши симкарту на 1 слот.
    </p>

</div>
