﻿@{
    Layout = "~/Views/Shared/_Layout_site.cshtml";
    ViewData["Title"] = "Roh";
}

<div class="container1">
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="~/images/slider/slider_3.jpg" alt="First slide">
                <div class="container">
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="~/images/slider/slider_2.jpg" alt="Second slide">
            </div>
            <div class="item">
                <img class="third-slide" src="~/images/slider/slider_1.jpg" alt="Third slide">
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->
</div><!-- /.container1 -->
<!-- Begin page content -->
<div class="container">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Выгодные поездки  <span class="text-muted">по межгороду.</span></h2>
            <p style="text-align: left;"><strong>Такси межгород</strong> набирает все больше поклонников среди различных слоев населения. Воспользовавшись услугой единожды, люди, как правило, становятся нашими постоянными клиентами. Этому факту есть простое объяснение. Дело в том, что ни один другой вид транспорта не может похвастать таким выгодным  соотношением цены и комфорта.</p>
            <p style="text-align: left;"><strong>В чем же преимущества?</strong></p>
            <p style="text-align: left;">Слова о превосходстве данного вида поездок над другими – не пустые слова. Они подкреплены несколькими бесспорными фактами:</p>

            <ul style="text-align: left;">
                <li>стоимость поездки будет известна вам заранее, при этом, вы можете просчитать оптимальный маршрут прямо на сайте;</li>
                <li>возможность выбрать автомобиль подходящего размера и уровня комфорта;</li>
                <!--<li>исключительно профессиональные водители, отлично знающие все нюансы именно вашего маршрута;</li>
                <li>возможность оплатить поездку с помощью банковской карты и не беспокоиться, что цена может измениться к концу путешествия;</li>
                <li>в поездках на дальние расстояния каждый следующий километр становится дешевле.</li>-->
            </ul>
            <p style="text-align: left;"><strong>В каких случаях заказать такси межгород – лучший вариант</strong></p>
            <p style="text-align: left;">Описать все жизненные ситуации, в которых сможет помочь наша служба, конечно, невозможно. Но со временем сложились несколько наиболее часто встречающихся ситуаций, когда вызов <strong>междугороднего такси</strong> становится оптимальным вариантом:</p>

            <ol>
                <li><strong> </strong>Если вы возвращаетесь из длительной поездки самолетом, то у вас есть возможность предварительно заказать такси, которое позволит сэкономить не только ваше время, но и встретит вас в аэропорту, и с максимальным комфортом по приемлемой цене доставит вас на место назначения за самое короткое время.В какой бы аэропорт вы не прилетели, наши водители всегда вовремя встретят вас, помогут с багажом и быстро и комфортно доставят вас по месту назначения.</li>
                <li>Иногда есть необходимость съездить по делам в другой город. Вернуться назад поездом в тот же день - значит напрямую зависеть от расписаний общественного транспорта. Наш же водитель подождет вас столько времени, сколько вам понадобится для решения всех вопросов и отвезет домой ,ведь для поездок "Туда-Обратно" предусмотрено бесплатное ожидание в промежуточном пункте и скидка в 50%, а это очень выгодно.</li>
                <li>Вы собрались всей семьей к родственникам или друзьям в другой город.Или просто едете на дачу. Добираться с пересадками междугородним транспортом или поехать с удобством от самого подъезда? Выбор за вами.</li>
            </ol>
            <p style="text-align: left;">Это далеко не все случаи, когда стоит воспользоваться услугами <strong>междугороднего такси</strong>. В любой ситуации мы относимся к клиенту с пониманием и готовы рассмотреть ваши предложения и пожелания, касающиеся сервиса.</p>

            <p class="lead">
                Междугородние направлении - в меню приложения перейдите в «Межгород»
                Отправьте свой заказ водителям, предлагайте свою цену
            </p>
            <img class="featurette-image img-responsive center-block" src="~/images/mejgorod.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->
</div>