@{
    Layout = "~/Views/Shared/_Layout_site.cshtml";
    ViewData["Title"] = "Политика конфиденциальности";
}

<div class="container privacy">
    <center> <h3>Политика конфиденциальности персональных данных</h3>
    (Политика обработки персональных данных)</center>
    <h4> Политика конфиденциальности персональных данных (далее - «Политика») определяет основные принципы, цели, общие условия и способы обработки персональных данных, реализуемые меры защиты персональных данных, перечень субъектов персональных данных, обрабатываемых Оператором, функции Оператора, права субъектов персональных данных в процессе пользования Сервисом ROH (далее – Сервис).
    Политика является приложением к Лицензионному соглашению (Публичной оферте) (далее – Лицензионное соглашение) и регулирует условия конфиденциальности и обработки персональных данных между Сервисом и Пользователями в процессе пользования Сервисом. Все условия и термины, определенные Лицензионным соглашением, применимы и имеют аналогичное значение в настоящей Политике конфиденциальности.
    Используя Сервис, Пользователь соглашается с настоящей Политикой. Принятие условий Политики Пользователем является явно выраженным, предметным, определенным и неабстрактным согласием Пользователя на обработку персональных данных Оператором.
        <br><br><strong>1. Понятия и термины</strong>
    <br>1.1. Понятия и термины, используемые в настоящей Политике:
    <br><strong>a.</strong> оператор - юридическое или физическое лицо, самостоятельно или совместно с другими лицами, организующее и (или) осуществляющее обработку персональных данных, а также определяющее цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;
    <br><strong>b.</strong> обработка персональных данных - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;
    <br><strong>c.</strong> персональные данные - любая информация, относящаяся прямо или косвенно к определенному или определяемому физическому лицу (субъекту персональных данных).
    <br><strong>d.</strong> субъект персональных данных — Пользователь Сервиса, которое предоставляет персональные данные Оператору, и в отношении которого Оператором обрабатываются персональные данные.
        <br><br><strong>2. Общие положения</strong>
    <br>2.1. Если Вы не согласны с настоящей Политикой, а также условиями и положениями Лицензионного соглашения, и правилами пользования Сервисом, не хотите их соблюдать, не устанавливайте мобильное приложение, незамедлительно удалите его/любой его компонент с мобильного телефона или компьютера и не пользуйтесь мобильным приложением. В случае, если Вы по каким-либо причинам не согласны с нижеприведенными условиями, то это означает Вашу обязанность по удалению Сервиса со своего мобильного устройства или компьютера и не пользованию Сервисом Roh. В противном случае, Вы будете считаться согласным в безусловном порядке с условиями настоящей Политики.
    <br>2.2. Действие настоящей Политики распространяется на все субъекты персональных данных, которые предоставляют персональные данные Оператору, и в отношении которых Оператор осуществляет обработку персональных данных. Требования Политики также учитываются и предъявляются в отношении иных лиц при необходимости их участия в процессе обработки персональных данных Оператором, а также в случаях передачи им в установленном порядке персональных данных на основании соглашений, договоров, поручений на обработку.
    <br>2.3. Оператор, исходя из принципов разумности и добросовестности, предполагает, что:
    <br>2.3.1. Пользователь перед началом использования Сервиса внимательно ознакомился с условиями настоящей Политики  Сервиса и иными официальными документами Сервиса;
    <br>2.3.2. Приступив к пользованию Сервисом выразил свое согласие с условиями настоящей Политики и принял на себя указанные в ней права и обязанности;
    <br>2.3.3. Пользователь понимает и осознает, что в процессе пользования Сервисом информация, размещенная Пользователем о себе может быть доступна другим Пользователям Сервиса и иным третьим лицам, при этом Оператор не несет ответственности за действия третьих лиц.
    <br>2.4. Настоящая Политика является открытым и общедоступным документом,  действует бессрочно (либо до утверждения его в новой редакции) и предусматривает возможность ознакомления с ней любых лиц. Политика может быть изменена и/или дополнена в одностороннем порядке Администратором Сервиса без какого-либо специального уведомления (согласия) субъектов персональных данных. Действующая редакция Политики размещена в сети Интернет по адресу: https://roh.tj/
    <br>2.5. Изменения и дополнения вступают в силу на следующий день после размещения новой редакции Политики в сети Интернет по адресу: https://roh.tj/
    <br>2.6. Пользователи обязаны регулярно проверять условия настоящей Политики на предмет её изменения и/или дополнения. Продолжение пользования Сервисом после внесения изменений и/или дополнений в настоящую Политику будет означать принятие и согласие Пользователя с такими изменениями и/или дополнениями.
    <br>2.7. В случае противоречия или несоответствия между текстом Лицензионного соглашения Сервиса и настоящей Политикой, применению подлежит Политика.
    <br>2.8. Администратор является оператором по обработке персональных данных, за исключением случаев, когда функции по обработке персональных данных переданы другому лицу на основании заключенного с таким лицом договора. Обработка персональных данных может осуществляться Администратором совместно с иным оператором по обработке персональных данных. Администратор вправе передать функции по обработке персональных данных другому лицу также в отношении отдельных категорий субъектов персональных данных, перечень которых определен в настоящей Политике.
    <br><br><strong>3. Субъекты персональных данных</strong>
    <br>3.1. Мы обрабатываем персональные следующих лиц:
    <br>3.1.1. Пользователи Сервиса;
    <br><br><strong>4. Цели обработки информации</strong>
    <br>4.1. Оператор осуществляет обработку персональных данных в целях:
    <br>4.1.1. Заключения, исполнения и расторжения Администратором Лицензионного соглашения с Пользователем, а также для выполнения Администратором обязательств по предоставлению Пользователю доступа к Сервису в рамках акцептованного последним Лицензионного соглашения (Публичной оферты);
    <br>4.1.2. Осуществления Оператором своих законных прав и интересов в рамках осуществления своей деятельности по предоставлению доступа к Сервису, в том числе, в административных целях, например, для внутренних расследований при нарушениях Лицензионного соглашения (Публичной оферты) и настоящей Политики.
    <br>4.1.3. Исполнения судебных актов, актов других органов или должностных лиц, подлежащих исполнению в соответствии с законодательством Российской Федерации;
    <br>4.1.4. Обеспечения безопасности Пользователей;
    <br>4.1.5. В иных законных целях.
    <br><br><strong>5. Принципы обработки персональных данных</strong>
    <br>5.1. Обработка персональных данных осуществляется на основании следующих принципов:
    - законности и справедливости;
    - конкретности;
    - добросовестности;
    - недопустимости объединения баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой.
    <br><br><strong>6. Перечень обрабатываемых персональных данных</strong>
    <br>6.1. В отношении Пользователей:
    <br>6.1.1. С целью последующего заключения Администратором Лицензионного соглашения с Пользователями при использовании и при прохождении авторизации на Сервисе, при установке на мобильное устройство Сервиса у Пользователей, могут запрашиваться персональные данные, которые могут включать следующие данные Пользователей: адрес электронной почты, полное имя, фамилия, отчество, дату рождения, возраст, пол, местоположение (город), номер мобильного телефона, данные об автотранспортном средстве (государственный номер, марка и модель автомобиля, год выпуска автомобиля, цвет автомобиля), данные документа, удостоверяющего личность (скан копию документа, удостоверяющего личность), данные водительского удостоверения (скан копию водительского удостоверения), а также могут быть запрошены дополнительные сведения.
    <br>С помощью серверов Сервиса сохраняется информация об активности Пользователя на Сервисе. Сервис собирает и хранит данные в виде информации о предоставленных Услугах по доступу к функционалу Сервиса, а также информации о них. В состав личной информации и персональных данных может входить некоторая информация, прямо не предоставляемая Пользователями, поскольку Сервис протоколирует информацию, относящуюся к порядку доступа к Сервису. Несмотря на указанные выше положения, Сервис имеет право собирать следующую информацию:
    <br>– сведения о мобильном устройстве Пользователя (модель, версия операционной системы, уникальные идентификаторы устройства, а также данные о мобильной сети и номер телефона);
    <br>– сведения журналов, содержащие информацию об использовании Сервиса или просмотре содержания, предоставленного с помощью Сервиса (включая, но, не ограничиваясь подробными сведениями об использовании Сервиса, включая поисковые запросы, данные о телефонных вызовах, включая номера телефонов для входящих, исходящих и переадресованных звонков, дата, время, тип и продолжительность вызовов, а также информация о маршруте SMS, IP-адреса, данные об аппаратных событиях, в том числе о сбоях и действиях в системе, а также о настройках, типе и языке браузера, дате и времени запроса и URL перехода);
    <br>– сведения о местоположении (включая данные GPS, отправленные мобильным устройством, данные различных технологий определения координат).
    <br>6.2. В отношении иных субъектов персональных данных:
    <br>6.2.1. Перечень персональных данных, обрабатываемых Оператором в отношении иных субъектов персональных данных, определяется в соответствии с законодательством Республики Таджикистан и локальными актами Оператора с учетом целей обработки персональных данных, указанных в разделе 4 Политики.
    <br>6.3. Обработка специальных категорий персональных данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, состояния здоровья, частной жизни Пользователей Оператором не осуществляется.
    <br><br><strong>7. Обработка персональных данных</strong>
    <br>7.1. Под обработкой персональных данных понимается любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
    <br>7.2. Обработка персональных данных Пользователя осуществляется в соответствии с целями и принципами определенными настоящей Политикой, локальными актами Оператора, а в отдельных случаях, также в соответствии с Лицензионным соглашением.
    <br>7.3. Обработка персональных данных в Оператором осуществляется с согласия субъекта персональных данных на обработку его персональных данных, если иное не предусмотрено законодательством Республики Таджикистан в области персональных данных.
    <br>7.4. Обработка персональных данных субъекта персональных данных осуществляется в строгом соответствии с законодательством Республики Таджикистан, в том числе согласно законодательству в области обработки и защиты персональных данных, а также законодательству в области информации и информационных технологий.
    <br>7.5. Обработка персональных данных осуществляется в автоматизированном режиме, т.е. с использованием средств вычислительной техники, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства. Обработка персональных данных может осуществляться смешанным способом.
    <br>7.6. Информация, полученная Оператором от Пользователя, в том числе информация, полученная в автоматическом режиме при обращении Пользователя к Сервису является конфиденциальной, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц.
    <br>7.7. Администратор вправе передать информацию о Пользователе третьим лицам в следующих случаях:
    <br>7.7.1. по запросу правоохранительных органов и судов в связи с осуществлением ими деятельности в рамках своей компетенции, в соответствии с законодательством Республики Таджикистан;
    <br>7.7.2. в связи с исполнением обязательств перед Пользователем по предоставлению услуг в рамках Сервиса, а также в целях исполнения различных соглашений или договоров с Пользователем;
    <br>7.7.3. в целях обеспечения защиты законных прав и интересов Администратора и/или третьих лиц, в том числе при нарушении Пользователем Лицензионного соглашения (Публичной оферты) или иных применимых документов (договоров, соглашений, правил) Сервиса;
    <br>7.7.4. передачи обезличенной статистической информации в целях проведения исследований, в том числе маркетинговых и рекламных;
    <br>7.7.5. в иных случаях, предусмотренных законодательством Республики Таджикистан.
    <br>7.8. Оператор осуществляет сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление и уничтожение персональных данных субъектов персональных данных.
    <br>7.9. Оператор вправе уничтожить персональные данные Пользователя в случаях нарушения Пользователем условий настоящей Политики и/или Лицензионного соглашения или иных применимых документов (договоров, соглашений, правил) Сервиса.
    <br>7.10. Пользователь принимая условия Лицензионного соглашения и настоящей Политики дает согласие Оператору на трансграничную передачу персональных данных (в случае, если таковая передача происходит).
    <br>7.11. В случаях, предусмотренных законодательством Российской Федерации, Оператор вправе и/или обязан хранить информацию и обезличенные персональные данные субъекта персональных данных в течение определенного законом срока и передать такую информацию по запросам уполномоченных органов государственной власти РТ.
    <br><br><strong>8. Права субъектов персональных данных</strong>
    <br>8.1. Субъект персональных данных имеет право отозвать согласие на обработку персональных данных, направив соответствующий запрос Оператору по реквизитам, указанным в разделе 11 настоящей Политики.
    <br>8.2. Субъект персональных данных имеет право на получение информации, касающейся обработки его персональных данных на основании запроса форма и требования к которому установлены законодательством Республики Таджикистан. Запрос должен содержать сведения, предусмотренные законами РТ «О персональных данных».
    <br>8.3. Субъект персональных данных вправе требовать от Оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки.
    <br>8.3.1. Пользователь вправе самостоятельно осуществлять изменение, уточнение или удаление своих персональных данных и иной информации с учетом доступного функционала Сервиса, в том числе в Личном кабинете.
    <br><br><strong>9. Меры принимаемые в целях защиты информации</strong>
    <br>9.1. Оператор принимает необходимые правовые, технические и организационные меры в целях защиты персональной информации Пользователя от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий. К таким мерам относятся:
    <br>- назначение лиц, ответственных за организацию обработки и обеспечения безопасности персональных данных;
    <br>-  издание локальных актов и иных документов в области обработки и защиты персональных данных, ознакомление с такими документами сотрудников Оператора;
    <br>- получение согласий субъектов персональных данных на обработку их персональных данных, за исключением случаев, предусмотренных законодательством Республики Таджикистан;
    <br>- ограничение и разграничение доступа сотрудников и иных лиц к персональным данным и средствам обработки, мониторинг действий с персональными данными;
    <br>- обособление персональных данных, обрабатываемых без использования средств автоматизации, от иной информации, в частности путем их фиксации на отдельных материальных носителях персональных данных, в специальных разделах;
    <br>- обеспечение раздельного хранения персональных данных и их материальных носителей, обработка которых осуществляется в разных целях и которые содержат разные категории персональных данных;
    <br>- обеспечение безопасности помещений и средств обработки, пропускной режим, охрана, видеонаблюдение;
    <br>- хранение материальных носителей персональных данных с соблюдением условий, обеспечивающих сохранность персональных данных и исключающих несанкционированный доступ к ним;
    <br>- применение средств обеспечения безопасности (в том числе антивирусных средств и иных технических средств в соответствии с законодательством РТ);
    <br>- резервное копирование информации для возможности восстановления;
    <br>- иные меры, предусмотренные законодательством Республики Таджикистан в области персональных данных.
    <br><br><strong>10. Ограничение действия Политики</strong>
    <br>10.1. Оператор не несет ответственности за действия Пользователей и третьих лиц, получивших в результате пользования Сервисом доступ к информации о Пользователе и за последствия использования, распространения и совершения иных действий в отношении такой информации, доступ к которой в силу особенностей Сервиса доступен любому пользователю сети Интернет и Сервиса.
    <br><br><strong>11. Иные положения</strong>
    <br>11.1. Субъекты персональных данных направляют запросы, уведомления на адрес электронной почты: info@roh.tj, 735700, г. Худжанд, ул. Б. Усманова 16.
    <br>11.2. Оператор отвечает на запросы субъектов персональных данных в течение 30 календарных дней с момента их получения.
</h4>
   
</div>
