@{
    Layout = "~/Views/Shared/_Layout_site.cshtml";
    ViewData["Title"] = "Правила";
}
<h2>@ViewData["Title"]</h2>

<div class="rules_info">
    <center> <h4>Правило поведения для водителя</h4></center>

    <strong>Запрещено:</strong><br>
    <p>
        -Курение в салоне автомобиля во время выполнения заказа<br>
        -Брать новые заказы (подбирать с дороги) до выполнении действующего заказа <br>
        -Работать со штурманом М+М (если водитель и штурман мужчины) <br>
        -При звонке пассажиру предлагать поездку за более высокую цену, чем указано в заявке <br>
        -Пользоваться телефоном во время движения <br>
        -Увеличивать цену за поездку, которую установил пассажир по причине отсутствия проезда к     пункту  назначения и пробок на дорогах
        Водитель обязан:<br>
        -Иметь сдачу и размен с крупных купюр <br>
        -Падать автомобиль как можно ближе к месту посадки/высадки пассажира<br>
        -Быть вежливым (Важно помнить, что водитель является для клиента, лицом сервиса Roh Поэтому так важно быть вежливым, спокойным. Доброжелательного отношения). <br>
        -В обязательном порядке приветствовать пассажира<br>
        -Если с клиентом едут дети установить детское кресло<br>
        -Помочь пассажиру загрузить багаж в автомобиль<br>
        -При обнаружении забытых пассажиром вещей  в салоне автомобиля, вернуть их владельцу. Если это не возможно, оставить вещи в ближайшем пункте полиции и сообщить в администрацию Roh <br>
        -Внимательно прочитать заявку перед тем как позвонить пассажиру<br>
        Водитель объязан отказатся от обслуживанию клиентов если количество пассажиров превышает предусмотренное техническим характеристиками автомобиля или отсутствует  необходимое количество детских удерживающих устройств <br>
        Время ожидания пассажира – 10 минут, в течение которых водитель не прав отказаться от заказа, поставив пассажира в известность. По истечении оговоренного времени водитель должен позвонить или написать и предупредить о дополнительной оплате за ожидание. <br>
        Если у вас есть жалоба на пассажира напишите нам, не забудьте указать номер телефона пассажира, время и маршрут заказа. <br>
        После поездки пассажир оценит ваш сервис чтобы иметь высокий рейтинг, мы рекомендуем:<br>
        -Содержать автомобиль заправленным, чистым, без лишних предметов внутри салона <br>
        -Всегда вовремя приезжать за пассажиром <br>
        -Иметь опрятный внешний вид и здороваться клиентами<br>
        -Узнавать пожелания пассажира по маршруту поездки <br>
        В случаях когда водитель не может найти адрес, заказчики не видят машину, а водитель утверждает, что стоит правильно водителю следует набрать номер из «моих заказов» и уточнит место подачи <br>
        При разговоре с заказчиком водитель обязан общаться предельно культурно, поздороваться клиентом. <br>

        <center> <h4>Правило поведения для пассажиров </h4></center>
        -Выходите к машине по быстрее (чем больше заказы успевают выполнить водители, тем ниже цены на их услуги)<br>
        -Хотите уехать быстрее, используйте карту свободных авто.<br>
        -Если вам не звонят водители, поднимайте цену или повторите заказ<br>
        <h4>А так же</h4>
        Ведите себя вежливо с водителем <br>
        Не отвлекайте водителя во время движения <br>
        Старайтесь готовить оплату «без сдачи»<br>
        После просьбы водителя спустится, водитель ожидает не более 10 минут <br>
        В заказах нельзя размещать ничего кроме заказа, иначе вас заблокируют<br>
        Следуя этим простым правилам вы помогаете сервису стать лучше  <br>

</div>
