﻿@model RohTjWeb.Models.Feedback_vacancy
@{
    Layout = "~/Views/Shared/_Layout_site.cshtml";
    ViewData["Title"] = "Вакансии";
}

<div class="container">
    
    <!-- Contact Section -->
    <div class="container relative">
        <div class="row">
            <h3>Приглашаем на работу в Такси-Roh водителей со своим авто</h3>
        <br />
            <p><strong>Требования:</strong></p>
            <ul>
                <li>наличие автомобиля в хорошем состоянии;
                <li>желание работать и зарабатывать;
                <li>знание города или наличие навигатора;
                <li>пунктуальность, дисциплинированность.
            </ul>
        
            <p>Информация о заказе приходит на телефон в программу;<br />
            Гарантированное обеспечение заказами;<br />
            Свободный, удобный для вас, график работы;<br />
            </p>
            <h3>Просто заполните анкету.</h3>

            <br>
            <center>
                <h2>Анкета для водителей </h2>   
                <hr class="featurette-divider">
            </center>
        </div><!-- End row of columns -->
    </div>

    <center>
        <!-- Contact Form -->
        <div class="row bg-bluedark1 pad10">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">

                @if (ViewData["Message"] != null)
                 {
                    <strong style="color:@ViewData["message_color"]"> @ViewData["Message"] </strong>
                 }

                <form asp-action="Vacancy">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="clearfix">
                        <h3 class="text-center">Информация о водителе</h3>
                        <div class="col-md-6">
                            <!-- Driver_name -->
                            <div class="form-group">
                                <input asp-for="Driver_name" class="form-control" placeholder="Имя">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Driver_surname -->
                            <div class="form-group">
                                <input asp-for="Driver_surname" class="form-control" placeholder="Фамилия">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Model_avto -->
                            <div class="form-group">
                                <input asp-for="Driver_birthday" class="form-control" placeholder="Дата рождения">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Phone -->
                            <div class="form-group">
                                <input asp-for="Phone" class="form-control" placeholder="99292XXXXXXX" />
                                <span asp-validation-for="Phone" class="text-danger" />
                                @*<input type="email" name="email" id="email" class="input-md round form-control" placeholder="Email" pattern=".{5,100}" required>*@
                            </div>
                        </div>

                        <hr class="featurette-divider">
                           <h3 class="text-center">Информация о транспортном средстве</h3>
                        <div class="col-md-6">
                            <!-- Brand_avto -->
                            <div class="form-group">
                                <input asp-for="Brand_avto" class="form-control" placeholder="Марка">
                            </div>
                        
                            <!-- Model_avto -->
                            <div class="form-group">
                                <input asp-for="Model_avto" class="form-control" placeholder="Модель авто">
                            </div>
                        
                            <!-- Year_avto -->
                            <div class="form-group">
                                <input asp-for="Year_avto" class="form-control" placeholder="Год выпуска" type="number">
                            </div>
                        
                            <!-- Color_avto -->
                            <div class="form-group">
                                <input asp-for="Color_avto" class="form-control" placeholder="Цвет">
                            </div>

                        </div>
                        

                        <div class="col-md-6">
                            <!-- Message -->
                            <div class="form-group">
                                <textarea asp-for="Message" class="form-control" placeholder="Текстовое сообщение" rows="8"></textarea>
                                @*<textarea name="message" id="message" class="input-md round form-control" style="height: 84px;" placeholder="Сообщение"></textarea>*@
                            </div>
                        </div>

                    </div>

                    <div class="clearfix">

                        <div class="col-md-6">
                            <!-- Inform Tip -->
                            <div class="form-tip pt-20">
                                <i class="fa fa-info-circle"></i> Заполните все поля
                            </div>

                        </div>

                        <div class="col-md-6">

                            <!-- Send Button -->
                            <div class="align-right pt-10">
                                <input type="submit" value="Отправить Сообщение" class="btn btn-default" />
                            </div>

                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- End Contact Form -->

        <hr class="featurette-divider">

        <div class="text-danger ">
            <h4>Позвоните или оставьте свое сообщение</h4>
        </div>
        <div class="text-xs-center text-muted">
            <h4>Республика Таджикистан, г. Худжанд, ул. Б. Усманова 16</h4>
            <h4><span class="glyphicon glyphicon-earphone"></span> +992 92 888 55 88</h4>
            <h4><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@roh.tj">info@roh.tj</a></h4>
        </div>

        <!-- End Contact Section -->
    </center>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


