﻿@using NonFactors.Mvc.Grid;

@model IEnumerable<RohTjWeb.Models.Brand>

@{
    ViewData["Title"] = "Index";
}

<h2>Марки Авто</h2>

<p>
    <a asp-action="Create">Создать новый</a>
</p>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled("Название");

        columns.Add(model => $"<div class='dropdown'>" +
        $"<button class='btn btn-sm btn-primary dropdown-toggle' type='button' data-toggle='dropdown'>Действие <span class='caret'></span></button>" +
        $"<ul class='dropdown-menu'>" +
        $"<li><a href=\"{Url.Action("Edit", "Brand")}/{model.Id}\">Редактировать</a></li>" +
        $"<li><a href=\"{Url.Action("Details", "Brand")}/{model.Id}\">Детали</a></li>" +
        $"<li><a href=\"{Url.Action("Delete", "Brand")}/{model.Id}\">Удаление</a></li>" +
        $"</ul></div>").Encoded(false);

        //columns.Add(model => $"<a href=\"{Url.Action("Edit", "Brand")}/{model.Id}\">Редактировать</a>").Encoded(false);
        //columns.Add(model => $"<a href=\"{Url.Action("Details", "Brand")}/{model.Id}\">Детали</a>").Encoded(false);
        //columns.Add(model => $"<a href=\"{Url.Action("Delete", "Brand")}/{model.Id}\">Удаление</a>").Encoded(false);

    })
    .Filterable()
    .Sortable()
    .Pageable()
    .Empty("По вашему запросу ничего не найдено")
)
