﻿@{
    Layout = "~/Views/Shared/_Layout_2.cshtml";
    ViewData["Title"] = "Roh";
}

<div class="container1">
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="~/images/slider/slider_3.jpg" alt="First slide">
                <div class="container">
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="~/images/slider/slider_2.jpg" alt="Second slide">
            </div>
            <div class="item">
                <img class="third-slide" src="~/images/slider/slider_1.jpg" alt="Third slide">
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->
</div><!-- /.container1 -->
<!-- Begin page content -->
<div class="container">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="~/images/adv_1.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Доехать - просто</h2>
                <p>Одно нажатие и автомобиль приходит сразу к вам. Ваш водитель точно знает, куда ехать. И когда вы доедите, остается просто выйти.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="~/images/adv_2.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>По городу - когда угодно</h2>
                <p>Ранний утренний рейс или поздние ночные посиделки? Куда бы вы ни направились, круглосуточно можете рассчитывать на Roh.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="~/images/adv_3.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Диспетчерская служба</h2>
                <p>Круглосуточная работа диспетчерской службы. Поездка через весь город за фиксированную цену. Просто позвоните нам.</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!--marketing-->
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Быстрый приезд<span class="text-muted"> Водителя</span></h2>
            <p class="lead">Машины Roh распределены по всему городу. Для сокращения времени Вашего ожидания на заказ посылается ближайший к клиенту автомобиль. Среднее время подачи авто 5 мин.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="~/images/driver.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Цену предлагаете вы <span class="text-muted">Экономьте на поездках</span></h2>
            <p class="lead">Предлагайте свою цену, заказ возьмет ближайщий водитель. после чего вы можете оценить вашу поездку. Водители с высокой оценкой получают больше заказов </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="~/images/iPhone-6s.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Выгодные поездки  <span class="text-muted">по межгороду.</span></h2>
            <p class="lead">
                Междугородние направлении - в меню приложения перейдите в «Межгород»
                Отправьте свой заказ водителям, предлагайте свою цену
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="~/images/mejgorod.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->
</div>
