﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model RegisterViewModel

@{
    ViewData["Title"] = "Доступ запрещен";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <center>
    <div class="col-md-8 text-danger">
        <h3>
            Доступ на заправшиваемый ресурс запрещен.<br>
            Обратитесь администратору.
        </h3>
    </div>
        </center>
</div>

