﻿@{
    ViewData["Title"] = "Подтверждение электронной почты";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Благодарим Вас за подтверждение вашей электронной почты. Пожалуйста <a asp-controller="Account" asp-action="Login">Нажмите для авторизации</a>.
    </p>
</div>
