﻿@using NonFactors.Mvc.Grid;

@model IEnumerable<RohTjWeb.Models.ApplicationUser>

@{
    ViewData["Title"] = "Список пользователей";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Создать новый</a>
</p>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.UserName).Titled("Имя");
        columns.Add(model => model.Email).Titled("эПочта");
        columns.Add(model => model.PhoneNumber).Titled("Телефон");

        columns.Add(model => $"<div class='dropdown'>" +
        $"<button class='btn btn-sm btn-primary dropdown-toggle' type='button' data-toggle='dropdown'>Действие <span class='caret'></span></button>" +
        $"<ul class='dropdown-menu'>" +
        $"<li><a href=\"{Url.Action("Edit", "Account")}/{model.Id}\">Редактировать</a></li>" +
        $"<li><a href=\"{Url.Action("Delete", "Account")}/{model.Id}\">Удаление</a></li>" +
        $"</ul></div>").Encoded(false);

    })
    .Filterable()
    .Sortable()
    .Pageable()
    .Empty("По вашему запросу ничего не найдено")
)
