﻿@{
    ViewData["Title"] = "Заблокированно";
}

<header>
    <h1 class="text-danger">Заблокированно.</h1>
    <p class="text-danger">Эта учетная запись была заблокирована, пожалуйста, повторите попытку позже.</p>
</header>
