﻿@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h1>@ViewData["Title"].</h1>
<p>
    Ваш пароль был сброшен. Пожалуйста <a asp-controller="Account" asp-action="Login">Нажмите для авторизации</a>.
</p>
