﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/images/roh.ico">
    <title>@ViewData["Title"] - Предлагайте свою цену за поездку!</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/animate.min.css" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        <link href="~/css/MvcGrid/mvc-grid.css" rel="stylesheet"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/MvcGrid/mvc-grid.css" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="navbar navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Rohadmin" asp-action="Index" class="navbar-brand">RohTjWeb</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Мониторинг<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Rohadmin" asp-action="ViewMap">Карта</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-area="" asp-controller="Order" asp-action="OrderCity">Город</a></li>
                            <li><a asp-area="" asp-controller="Order" asp-action="OrderBetweenCity">Межгород</a></li>
                            <li><a asp-area="" asp-controller="Order" asp-action="OrderTruck">Грузовые</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Отчет</a></li>
                            <li><a asp-area="" asp-controller="Client" asp-action="Index">Абоненты</a></li>
                            <li><a href="#">Настройка</a></li>
                            <li><a href="#">Жалобы</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Архив</a></li>
                            <li><a href="#">Место Для Поиска</a></li>                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Отчет<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Отчет по модераторам</a></li>
                            <li><a href="#">Отчет по менеджерам</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Настройки<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Brand" asp-action="Index">Марки авто</a></li>
                            <li><a asp-area="" asp-controller="BrandModel" asp-action="Index">Модели авто</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-area="" asp-controller="City" asp-action="Index">Города</a></li>
                            <li><a asp-area="" asp-controller="Region" asp-action="Index">Область</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-area="" asp-controller="Client" asp-action="Index">Клиенты</a></li>
                            <li><a asp-area="" asp-controller="RegistrationCode" asp-action="Index">Код регистрации</a></li>
                            <li><a asp-area="" asp-controller="GeoLocation" asp-action="Index">Местоположения</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-area="" asp-controller="Order" asp-action="Index">Заказы</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="List">Пользователи</a></li>
                            <li><a asp-area="" asp-controller="Roles" asp-action="Index">Роли</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-area="" asp-controller="SysSetting" asp-action="Index">Настройки</a></li>
                        </ul>
                    </li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
        @RenderBody()
    <footer class="footer">
        <div class="container">
            <p class="pull-left">&copy; @DateTime.Now.Year - RohTj</p>
            <ul class="footer-menu pull-right">
                <li><i class="icon-phone-1"></i> +992 92 7888877</li>
                <!--<li><a asp-area="" asp-controller="Home" asp-action="About">О нас</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Контакты</a></li>-->
            </ul>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/MvcGrid/mvc-grid.js" ></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="/js/map.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/MvcGrid/mvc-grid.js"></script>

        <script type="text/javascript">
$("#map-view").addClass("active");
$('#option3').show();
$('.fade').css('opacity', '1');
$('.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus').css('color', '#ffffff');
$('.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus').css('background-color', '#');

        </script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
