﻿@model IEnumerable<Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole>
<br/>
    <div class="icon pull-left">
        <h2>Список ролей</h2>
     </div>
    <div class="icon pull-right">
        <a asp-action="UserList" class="btn btn-sm btn-success"><h4>Роли пользователей</h4></a>

    </div>

    <table class="table">
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
    <a asp-action="Create" class="btn btn-lg btn-primary">Добавить роль</a>
