﻿@model IEnumerable<RohTjWeb.Models.ApplicationUser>

<br />
<div class="icon pull-left">
    <h2>Роли пользователей</h2>
</div>
<div class="icon pull-right">
    <a asp-action="Index" class="btn btn-sm btn-success"><h4>Список ролей</h4></a>

</div>

<br>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
            </td>
        </tr>
    }
</table>