@using NonFactors.Mvc.Grid;

@model IEnumerable<RohTjWeb.Models.GeoLocation>

@{
    ViewData["Title"] = "Местоположения";
}

<h2>Местоположения</h2>

<p>
    <a asp-action="Create">Создать новый</a>
</p>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.CreatedAt).Titled("Дата создания");
        columns.Add(model => model.IsDriver).Titled("Водитель");
        columns.Add(model => model.Client.PhoneNumber).Titled("Телефон");
        //columns.Add(model => model.ClientId).Titled("ID");
        columns.Add(model => model.Latitude).Titled("Широта");
        columns.Add(model => model.Longitude).Titled("Долгота");
        columns.Add(model => model.UpdatedAt).Titled("Дата обновления");
        columns.Add(model => $"<div class='dropdown'>" +
        $"<button class='btn btn-sm btn-primary dropdown-toggle' type='button' data-toggle='dropdown'>Действие <span class='caret'></span></button>" +
        $"<ul class='dropdown-menu'>" +
        $"<li><a href=\"{Url.Action("Edit", "GeoLocation")}/{model.Id}\">Редактировать</a></li>" +
        $"<li><a href=\"{Url.Action("Details", "GeoLocation")}/{model.Id}\">Детали</a></li>" +
        $"<li><a href=\"{Url.Action("Delete", "GeoLocation")}/{model.Id}\">Удаление</a></li>" +
        $"</ul></div>").Encoded(false);
        
    })
    .Filterable()
    .Sortable()
    .Pageable()
    .Empty("По вашему запросу ничего не найдено")
)
