@model RohTjWeb.Models.Feedback
@{
    Layout = "~/Views/Shared/_Layout_2.cshtml";
    ViewData["Title"] = "Обратная форма";
}
<h2>@ViewData["Title"]</h2>

<div class="container">
    <!-- Contact Form -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            @if (ViewData["Message"] != null)
            {
                <strong style="color:@ViewData["message_color"]"> @ViewData["Message"] </strong>
            }

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="clearfix">

                    <div class="cf-left-col">

                        <!-- Name -->
                        <div class="form-group">
                            <input asp-for="Title" class="form-control" placeholder="Тема" />
                            @*<input type="text" name="name" id="name" class="input-md round form-control" placeholder="Имя" pattern=".{3,100}" required>*@
                        </div>

                        <!-- Email -->
                        <div class="form-group">
                            <input asp-for="Phone" type="hidden" class="form-control" placeholder="Телефон" />
                            <span asp-validation-for="Phone" class="text-danger" />
                            @*<input type="email" name="email" id="email" class="input-md round form-control" placeholder="Email" pattern=".{5,100}" required>*@
                        </div>

                    </div>

                    <div class="cf-right-col">

                        <!-- Message -->
                        <div class="form-group">
                            <textarea asp-for="Message" class="form-control" placeholder="Сообщение" rows="4"></textarea>
                            @*<textarea name="message" id="message" class="input-md round form-control" style="height: 84px;" placeholder="Сообщение"></textarea>*@
                        </div>

                    </div>

                </div>

                <div class="clearfix">

                    <div class="cf-left-col">

                        <!-- Inform Tip -->
                        <div class="form-tip pt-20">
                            <i class="fa fa-info-circle"></i> Заполните все поля
                        </div>

                    </div>

                    <div class="cf-right-col">

                        <!-- Send Button -->
                        <div class="align-right pt-10">
                            <input type="submit" value="Отправить Сообщение" class="btn btn-default" />
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
    <!-- End Contact Form -->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


