﻿/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #0072d4;
  color:#ffffff;
}

.footer > .container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-menu li {
    display: inline;
    padding-left: 10px;
}

.footer-menu a {
    color: #ffffff;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 3px 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

/* Navbar */
.navbar {
    background-color: #0072d4;
}

.navbar-toggle span.icon-bar {
    background-color: #ffffff;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
}

.nav > li > a:after, 
.nav > li > a:focus, 
.nav > li > a:hover{
    color: #0072d4;
}

.btn-link {
    color: #ffffff;
}

.btn-link:hover {
    color: #ffffff;
    text-decoration:none;
}

.pad10 {
    padding: 10px;
}

.bg-purple {
    background-color: #c12ec1;
    color: #ffffff;
}
.bg-redlight {
    background-color: #f74040;
    color: #ffffff;
}

.bg-green {
    background-color: #0dad00;
    color: #ffffff;
}

.bg-greenlight {
    background-color: #80ff00;
    color: #ffffff;
}

.bg-bluelight {
    background-color: #00fff5;
    color: #ffffff;
}

.bg-bluedark {
    background-color: #31a8be;
    color: #ffffff;
}

.bg-orange {
    background-color: #ff7600;
    color: #ffffff;
}

.tag.tag-cancelled td{
    color: #aeaeae;
}
.tag.tag-comlited td {
    color: #31a8be;
}
.tag.tag-new td {
    color: #0072d4;
}
.tag.tag-started td {
    color: #0dad00;
}

.open > .dropdown-menu {
    margin-left: -50px;
    background-color: rgba(255, 255, 255, 0.94);
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background-color: #5c71ad;
    color: #ffffff;
}

.status {
    padding: 8px;
}

.status.Completed {
    background-color: #73ad5c;
    color: #ffffff;
    text-align: center;
}
.status.Cancelled {
    background-color: #ff7600;
    color: #ffffff;
    text-align: center;
}
.status.New {
    background-color: #5c71ad;
    color: #ffffff;
    text-align: center;
}
.status.Started {
    background-color: #d9edf7;
    color: #5c71ad;
    text-align: center;
}
span.tag.tag-danger,
span.tag.tag-warning,
span.tag.tag-success {
    padding: 3px;
    border-radius: 10px;
    color: #ffffff;
}

span.tag.tag-danger {
    background-color: #f74040;
}

span.tag.tag-warning {
    background-color: #ff7600;
}

span.tag.tag-success {
    background-color: #0dad00;
}

hr.btcRed {
    border-top: 1px solid #ff0000;
}

.tbl-box table.table {
    margin-bottom: 200px!important;
}
.tbl-box {
    width: 100%;
    overflow: auto;
}
.table-bordered td, .table-bordered th {
    font-size: 1rem;
}
.rules_info {
    font-size: 1rem;
    text-align: justify;
}

.mvc-grid td,
.mvc-grid th {
    font-size: 1.2rem;
}
/* Max with 767px*/
@media screen and (max-width: 767px) {
    .dropdown-menu > li > a {
        color: #000;
    }

    .nav .dropdown-menu > li > a {
        color: #fff;
        margin-left: 60px;
    }

}