﻿/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #0072d4;
  color:#ffffff;
}

.footer > .container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-menu li {
    display: inline;
    padding-left: 10px;
}

.footer-menu a {
    color: #ffffff;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

/* Navbar */
.navbar {
    background-color: #0072d4;
}

.navbar-toggle span.icon-bar {
    background-color: #ffffff;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
}

.nav > li > a:after, 
.nav > li > a:focus, 
.nav > li > a:hover{
    color: #0072d4;
}

.btn-link {
    color: #ffffff;
}

.btn-link:hover {
    color: #ffffff;
    text-decoration:none;
}

.pad10 {
    padding: 10px;
}

.bg-purple {
    background-color: #c12ec1;
    color: #ffffff;
}
.bg-redlight {
    background-color: #f74040;
    color: #ffffff;
}

.bg-green {
    background-color: #0dad00;
    color: #ffffff;
}

.bg-greenlight {
    background-color: #80ff00;
    color: #ffffff;
}

.bg-bluelight {
    background-color: #00fff5;
    color: #ffffff;
}

.bg-bluedark {
    background-color: #31a8be;
    color: #ffffff;
}

.bg-orange {
    background-color: #ff7600;
    color: #ffffff;
}

.bg-grey {
    background-color: #777;
    color: #ffffff;
}

.bg-bluedark1 {
    background-color: #243b4e;
    color: #ffffff;
}


span.tag.tag-danger,
span.tag.tag-warning,
span.tag.tag-success {
    padding: 3px;
    border-radius: 10px;
    color: #ffffff;
}

span.tag.tag-danger {
    background-color: #f74040;
}

span.tag.tag-warning {
    background-color: #ff7600;
}

span.tag.tag-success {
    background-color: #0dad00;
}

hr.btcRed {
    border-top: 1px solid #ff0000;
}

.tbl-box table.table {
    margin-bottom: 200px!important;
}
.tbl-box {
    width: 100%;
    overflow: auto;
}
.table-bordered td, .table-bordered th {
    font-size: 1rem;
}
.rules_info {
    font-size: 1rem;
    text-align: justify;
}

.privacy h4{
    text-align: justify;
    line-height: 25px;
}

/* Max with 767px*/
@media screen and (max-width: 767px) {
  .dropdown-menu > li > a {
    color: #ffffff;
}
  
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container1 {
    /*padding: 50px 0px 0;*/
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */
/*
.featurette-divider {
 /// margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

*/
/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* MAP
----------------------------------------------------*/
.map_container {
    width: 100%;
    height: 450px;
}
.map_container iframe {
    width: 100%;
    height: 100%;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 768px) {
    /* Carousel base class */
    .carousel, .carousel .item, .carousel-inner > .item > img {
        height: 350px;
    }
}

@media (max-width: 500px) {
    /* Carousel base class */
    .carousel, .carousel .item, .carousel-inner > .item > img {
        height: 210px;
    }
}

@media (max-width: 300px) {
    /* Carousel base class */
    .carousel, .carousel .item, .carousel-inner > .item > img {
        height: 160px;
    }
}

@media (min-width: 768px) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }



    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 0px;
    }
}
