﻿@{
    ViewData["Title"] = "О нас";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<!-- Begin page content -->
<div class="container">

    <div class="box box-success">
        <script type="text/javascript">
        /*window.onload = function () {
         $(document).ready(function () {
         $('.page_load').remove();
         $('#map').show();
         });
         };*/
        </script>
        <br>
        <div class="col-md-8">
            <input type="text" class="form-control" id="my-address" placeholder="Пожалуйста, введите свой адрес">
        </div>

        <div class="col-md-4" id="flow2">
            <button id="getCords" class="btn btn-success" onClick="codeAddress();">Найти</button>
        </div>
        <br>
        <!--<div class="page_load">
            <img title="Loading..." alt="Loading..." src="">
        </div>-->
        <div id="map" style="height:600px;width:100%;margin-top:30px;"></div>
        <input type="hidden" name="latitude" id="latitude">
        <input type="hidden" name="longitude" id="longitude">
    </div>
    <!-- map page js starts -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyAsaUntyPu2vVN466_vf92Smpzdx3qkzBQ"></script>
    <script src="/js/map.js"></script>
    
</div>