﻿@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Таджикистан, г. Худжанд,<br />
    ул. Танбури 19<br />
    <abbr title="Телефон">Т:</abbr>
    992 92 788 88 77
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@roh.tj">Support@roh.tj</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@roh.tj</a>
</address>
