﻿@using NonFactors.Mvc.Grid;
@model RohTjWeb.Models.ViewModel.RohadminViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row text-xs-center text-md-left">
        <!--1-->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg- pad10 animated fadeInLeftBig">
            <div class="bg-bluedark pad10">
                <div class="icon pull-right">
                    <i class="fa fa-car fa-3x" aria-hidden="true"></i>
                </div>
                <h3>@Model.TotalOrders.ToString()</h3>
                <p>Всего поездок</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg- pad10 animated fadeIn">
            <div class="bg-green pad10">
                <div class="icon pull-right">
                    <i class="fa fa-car fa-3x" aria-hidden="true"></i>
                </div>
                <h3>@Model.CompletedOrders.ToString()</h3>
                <p>Завершен поездок</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg- pad10 animated fadeInRightBig">
            <div class="bg-redlight pad10">
                <div class="icon pull-right">
                    <i class="fa fa fa-times fa-3x" aria-hidden="true"></i>
                </div>
                <h3>@Model.CancelledOrders.ToString()</h3>
                <p>Отменено поездок</p>
            </div>
        </div>
        <!--2-->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg- pad10 animated fadeInLeftBig">
            <div class="bg-primary pad10">
                <div class="icon pull-right">
                    <i class="fa fa-check fa-3x" aria-hidden="true"></i>
                </div>
                <h3>0.00 Сом.</h3>
                <p>Всего к оплате</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg- pad10 animated fadeIn">
            <div class="bg-greenlight pad10">
                <div class="icon pull-right">
                    <i class="fa fa-credit-card fa-3x" aria-hidden="true"></i>
                </div>
                <h3>0.00 Сом.</h3>
                <p>Оплата картой</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg- pad10 animated fadeInRightBig">
            <div class="bg-purple pad10">
                <div class="icon pull-right">
                    <i class="fa fa fa-star fa-3x" aria-hidden="true"></i>
                </div>
                <h3>0.00 Сом.</h3>
                <p>Реферальные платежи</p>
            </div>
        </div>
        <!--3-->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg- pad10 animated fadeInLeftBig">
            <div class="bg-purple pad10">
                <div class="icon pull-right">
                    <i class="fa fa-money fa-3x" aria-hidden="true"></i>
                </div>
                <h3>0.00 Сом.</h3>
                <p>Наличный платеж</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg- pad10 animated fadeIn">
            <div class="bg-orange pad10">
                <div class="icon pull-right">
                    <i class="fa fa-gift fa-3x" aria-hidden="true"></i>
                </div>
                <h3>0.00 Сом.</h3>
                <p>Платежи с рекламы</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg- pad10 animated fadeInRightBig">
            <div class="bg-bluelight pad10">
                <div class="icon pull-right">
                    <i class="fa fa fa-calendar fa-3x" aria-hidden="true"></i>
                </div>
                <h3>0</h3>
                <p>Всего задач</p>
            </div>
        </div>
    </div><!--End Row-->
    <hr class="btcRed">
    <hr>
</div>
<div class="container-fluid">
    <div class="box box-info tbl-box">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

        @(Html
    .Grid(Model.Orders)
    .Build(columns =>
    {
        columns.Add(model => model.CreatedAt).Titled("Дата создания");
        columns.Add(model => model.Client.PhoneNumber).Titled("№ Клиент");
        columns.Add(model => model.Driver.PhoneNumber).Titled("№ Водитель");
        columns.Add(model => model.From).Titled("Откуда");
        columns.Add(model => model.To).Titled("Куда");
        columns.Add(model => model.Price).Titled("Цена");
        columns.Add(model => model.IsDriver).Titled("Водитель");
        columns.Add(model => $"<div class=\"status {model.Status}\">{model.Status}</div>").Encoded(false).Filterable(true);

    })

    .Filterable()
    .Sortable()
    .Pageable()
    .Empty("По вашему запросу ничего не найдено")
        )
        <br />
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>№ Заявки</th>
                    <th>Имя</th>
                    <th>Курьер</th>
                    <th>Дата</th>
                    <th>Время</th>
                    <th>Статус</th>
                    <th>Платеж</th>
                    <th>Статус платежа</th>
                    <th>Реферальный Бонус</th>
                    <th>Promotional Бонус</th>
                    <th>Оплата картой</th>
                    <th>Наличный платеж</th>
                </tr>
                <tr>
                    <td>14872</td>
                    <td>Точибой Хочибоев </td>
                    <td>Кошкорбой </td>
                    <td>02 Oct 2016</td>
                    <td>4:29AM</td>
                    <td><span class="tag tag-success">Завершен</span> </td>
                    <td>5.00 </td>
                    <td><span class="tag tag-success">Завершен</span> </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>5.00 </td>
                </tr>
                <tr>
                    <td>14871</td>
                    <td>Точибой Хочибоев </td>
                    <td>Кошкорбой </td>
                    <td>02 Oct 2016</td>
                    <td>4:03AM</td>
                    <td><span class="tag tag-success">Завершен</span> </td>
                    <td>5.00 </td>
                    <td><span class="tag tag-success">Завершен</span> </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>5.00 </td>
                </tr>
                <tr>
                    <td>14870</td>
                    <td>Точибой Хочибоев </td>
                    <td>Неназначено </td>
                    <td>02 Oct 2016</td>
                    <td>4:03AM</td>
                    <td><span class="tag tag-danger">Отменен</span> </td>
                    <td>0.00 </td>
                    <td><span class="tag tag-warning">Запрос не Завершен</span> </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                </tr>
                <tr>
                    <td>14869</td>
                    <td>Точибой Хочибоев </td>
                    <td>Кошкорбой </td>
                    <td>02 Oct 2016</td>
                    <td>3:13AM</td>
                    <td><span class="tag tag-success">Завершен</span> </td>
                    <td>5.00 </td>
                    <td><span class="tag tag-success">Завершен</span> </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>5.00 </td>
                </tr>
                <tr>
                    <td>14868</td>
                    <td>Точибой Хочибоев </td>
                    <td>Неназначено </td>
                    <td>02 Oct 2016</td>
                    <td>2:28AM</td>
                    <td><span class="tag tag-danger">Отменен</span> </td>
                    <td>0.00 </td>
                    <td><span class="tag tag-warning">Запрос не Завершен</span> </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                </tr>
                <tr>
                    <td>14867</td>
                    <td>Точибой Хочибоев </td>
                    <td>Кошкорбой </td>
                    <td>02 Oct 2016</td>
                    <td>1:29AM</td>
                    <td><span class="tag tag-success">Завершен</span> </td>
                    <td>5.00 </td>
                    <td><span class="tag tag-success">Завершен</span> </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>5.00 </td>
                </tr>
                <tr>
                    <td>14866</td>
                    <td>Точибой Хочибоев </td>
                    <td>Неназначено </td>
                    <td>01 Oct 2016</td>
                    <td>11:50PM</td>
                    <td><span class="tag tag-danger">Отменен</span> </td>
                    <td>0.00 </td>
                    <td><span class="tag tag-warning">Запрос не Завершен</span> </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                </tr>
                <tr>
                    <td>14865</td>
                    <td>Точибой Хочибоев </td>
                    <td>Неназначено </td>
                    <td>01 Oct 2016</td>
                    <td>11:49PM</td>
                    <td><span class="tag tag-danger">Отменен</span> </td>
                    <td>0.00 </td>
                    <td><span class="tag tag-warning">Запрос не Завершен</span> </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                </tr>
                <tr>
                    <td>14864</td>
                    <td>Точибой Хочибоев </td>
                    <td>Неназначено </td>
                    <td>01 Oct 2016</td>
                    <td>11:47PM</td>

                    <td><span class="tag tag-danger">Отменен</span> </td>
                    <td>0.00 </td>
                    <td><span class="tag tag-warning">Запрос не Завершен</span> </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                </tr>
                <tr>
                    <td>14862</td>
                    <td>Гулчапчап Тупалангова </td>
                    <td>Неназначено </td>
                    <td>01 Oct 2016</td>
                    <td>9:53PM</td>
                    <td><span class="tag tag-danger">Отменен</span> </td>
                    <td>0.00 </td>
                    <td><span class="tag tag-warning">Запрос не Завершен</span> </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                    <td>0.00 </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div><!-- End container fluid -->
