﻿@{
    ViewData["Title"] = "Межгород";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<div class="container-fluid">
    <div class="box box-info tbl-box">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>№ Заявки</th>
                    <th>Пассажир</th>
                    <th>Водитель</th>
                    <th>Дата и время</th>
                    <th>Откуда</th>
                    <th>Куда</th>
                    <th>Стоимость</th>
                    <th>Примечание</th>
                    <th>Статус</th>
                    <th>Карта</th>
                </tr>
                <tr>
                    <td>14872</td>
                    <td>Точибой Хочибоев </td>
                    <td>Кошкорбой </td>
                    <td>02.10.2016 14:29:00</td>
                    <td>Универмаг</td>
                    <th>Панчшанбе</th>
                    <td>5.00</td>
                    <td></td>
                    <td><span class="tag tag-success">Завершен</span> </td>
                    <td><a href="ViewMap/">Просмотр </a></td>
                </tr>
                <tr>
                    <td>14871</td>
                    <td>Точибой Хочибоев </td>
                    <td>Кошкорбой </td>
                    <td>02.10.2016 14:29:00</td>
                    <td>Универмаг</td>
                    <th>Панчшанбе</th>
                    <td>5.00</td>
                    <td></td>
                    <td><span class="tag tag-success">Завершен</span> </td>
                    <td><a href="about/">Просмотр </a></td>
                </tr>
                <tr>
                    <td>14870</td>
                    <td>Точибой Хочибоев </td>
                    <td>Кошкорбой </td>
                    <td>02.10.2016 14:29:00</td>
                    <td>Универмаг</td>
                    <th>Панчшанбе</th>
                    <td>5.00</td>
                    <td></td>
                    <td><span class="tag tag-danger">Отменен</span> </td>
                    <td><a href="about/">Просмотр </a></td>
                </tr>
                <tr>
                    <td>14869</td>
                    <td>Точибой Хочибоев </td>
                    <td>Кошкорбой </td>
                    <td>02.10.2016 14:29:00</td>
                    <td>Универмаг</td>
                    <th>Панчшанбе</th>
                    <td>5.00</td>
                    <td></td>
                    <td><span class="tag tag-success">Завершен</span> </td>
                    <td><a href="about/">Просмотр </a></td>
                </tr>
                <tr>
                    <td>14868</td>
                    <td>Точибой Хочибоев </td>
                    <td>Кошкорбой </td>
                    <td>02.10.2016 14:29:00</td>
                    <td>Универмаг</td>
                    <th>Панчшанбе</th>
                    <td>5.00</td>
                    <td></td>
                    <td><span class="tag tag-danger">Отменен</span> </td>
                    <td><a href="about/">Просмотр </a></td>
                </tr>
                <tr>
                    <td>14867</td>
                    <td>Точибой Хочибоев </td>
                    <td>Кошкорбой </td>
                    <td>02.10.2016 14:29:00</td>
                    <td>Универмаг</td>
                    <th>Панчшанбе</th>
                    <td>5.00</td>
                    <td></td>
                    <td><span class="tag tag-success">Завершен</span> </td>
                    <td><a href="about/">Просмотр </a></td>
                </tr>
                <tr>
                    <td>14866</td>
                    <td>Точибой Хочибоев </td>
                    <td>Кошкорбой </td>
                    <td>02.10.2016 14:29:00</td>
                    <td>Универмаг</td>
                    <th>Панчшанбе</th>
                    <td>5.00</td>
                    <td></td>
                    <td><span class="tag tag-danger">Отменен</span> </td>
                    <td><a href="about/">Просмотр </a></td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div><!-- End container fluid -->
