@{
    Layout = "~/Views/Shared/_Layout_2.cshtml";
    ViewData["Title"] = "Оферта";
}
<h2>@ViewData["Title"]</h2>

<div class="rules_info">
    <center> <h4>ЛИЦЕНЗИОННОЕ СОГЛАШЕНИЕ (Публичная оферта)</h4></center>

    <p>
        &emsp;Оферта (Соглашение) определяет права и обязанности Лицензиата (далее – Пользователя) и Лицензиара (далее – Администратора) при использовании Сервиса «Roh» исключительно на территории передаваемых прав.
        Настоящая Оферта адресована неопределенному кругу лиц и является публичной офертой в соответствии с п. 2 ст. 437 Гражданского кодекса Российской Федерации.
        Настоящая Оферта заключается в особом порядке: путем акцепта настоящей Оферты, содержащей все существенные условия Оферты, без подписания сторонами. Настоящая Оферта имеет юридическую силу в соответствии с положениями действующего Гражданского кодекса Российской Федерации и является равносильным договору, подписанному Сторонами.
        Безусловным акцептом Пользователем настоящей Оферты в соответствии со ст. 438 Гражданского кодекса Российской Федерации является Регистрация Пользователя в Сервисе, равно как и начало фактического пользования Сервисом.
        Данная информация на сайте Roh определяет условия и правила использования Сервисом, а также определяет правила и условия пользования любым лицом возможностями, предоставляемыми данным Сервисом.
        Устанавливая мобильное приложение «Roh» на свое мобильное устройство или компьютер Вы тем самым соглашаетесь в безусловном порядке со всеми правилами, условиями и информацией, размещенными на данном сайте, в том числе, но не ограничиваясь: настоящей Офертой, политикой конфиденциальности.
        Настоящая Оферта размещена на сайте в сети Интернет по следующей ссылке: www.roh.tj
        Если Вы не согласны с настоящей Офертой, а также условиями и положениями политики конфиденциальности Сервиса, правилами пользования мобильным приложением, не хотите их соблюдать, не устанавливайте мобильное приложение, незамедлительно удалите его/любой его компонент с мобильного телефона или компьютера и не пользуйтесь Сервисом. В случае, если Вы по каким-либо причинам не согласны с вышеприведенными правилами или условиями, то это означает Вашу обязанность по удалению мобильного приложения со своего мобильного устройства или компьютера и непользованию Сервисом «Roh». В противном случае, Вы будете считаться согласным в безусловном порядке со всеми правилами, условиями и информацией, размещенными на данном сайте.
    </p>

    <h4>1.	Понятия и термины</h4>
    <strong>1.1.</strong> Понятия и термины, используемые в настоящей Оферте: <br>
    <div class="text">
        <strong>a.</strong> Сервис – интернет-агрегатор для взаимодействий Пользователей, расположенный на Сайте и/или в Мобильном приложении и включающий в себя программно-аппаратный комплекс, необходимый для функционирования Сервиса.
        Сервис включает в себя интерфейс, программное обеспечение и иные элементы необходимые для надлежавшего функционирования. Все права на Сервис (и входящие в него элементы) принадлежат Лицензиару на основании соответствующих лицензий и (или) договоров. Ни одно из положений настоящей Оферты не может трактоваться, как передача исключительных прав на Сервис Пользователю.
        <br><strong>b.</strong> Сайт – сайт, расположенный в сети Интернет по адресу www.Roh.tj
        <br><strong>c.</strong> Мобильное приложение – мобильное приложение «Roh», как разработанное, так и разрабатываемые в будущем версии приложения для платформIOS, Android, Windows Mobile.
        <br><strong>d.</strong> Пользователь – физическое лицо, достигшее 18 лет, прошедшее процедуру Регистрации в Сервисе.
        <br><strong>e.</strong> Аккаунт - совокупность защищенных страниц в Сервисе, создаваемых при Регистрации Пользователя, посредством которого осуществляется использование Сервиса и взаимодействие Пользователей. Доступ к Аккаунту осуществляется Пользователем посредством ввода Логина и пароля.
        <br><strong>f.</strong> Регистрация – заполнение и отправка Пользователем регистрационной формы на Сервисе путем указания необходимых сведений, в том числе Логина и пароля, персональных данных; подтверждение согласия на обработку персональных данных Администратором и уполномоченным им третьим лицам, в соответствии с Политикой конфиденциальности.
        <br><strong>g.</strong> Логин и Пароль - уникальный набор символов, создаваемый Пользователем при прохождении Регистрации, предназначенный для доступа к Аккаунту. В целях настоящей Оферты под Логином понимается номер мобильного телефона Пользователя, а под Паролем — код, который Пользователь получает после ввода Логина посредством СМС сообщения.
        <br><strong>h.</strong> Администратор – ИП Бурцев Александр Егорович являющийся Стороной настоящей Оферты, предоставляющий Пользователю доступ к Сервису, и осуществляющий прием, рассмотрение и направление ответов на жалобы и пожелания Пользователей как самостоятельно, так и с привлечением третьих лиц.
        <br><strong>i.</strong> Неисключительная лицензия - неисключительное, безвозмездное, а в некоторых случаях, оговоренных в Оферте возмездное право использования Сервиса, в порядке и способами указанными в настоящей Оферте. Неисключительная лицензия предоставляется Пользователям на территории, указанной в п.2.6. Оферты.<br>
    </div>
    <strong>1.2.</strong> В Соглашении могут быть использованы понятия и термины, не определенные в пункте 1.1 настоящего Соглашения. В этих случаях толкование понятий и терминов производится в соответствии с текстом и смыслом данного Соглашения. В случае отсутствия однозначного толкования понятия и термина в тексте Соглашения следует руководствоваться толкованием понятий и терминов в соответствии с гражданским законодательством и обычаями делового оборота.
    <br>
    <h4>2.	Общие положения</h4>
    2.1. Администратор предоставляет доступ к Сервису посредством персонального компьютера и различных мобильных устройств Пользователя, как существующему в настоящее время, так и разработанному в будущем.<br>
    2.2. Пользователь осознает и соглашается с тем, что Сервис может содержать рекламу, и что наличие данной рекламы является необходимым условием пользования Сервисом, тем самым, Пользователь выражает своё согласие на получение рекламных рассылок, в том числе СМС-сообщений и иных форм рекламных рассылок о рекламных акциях, скидках, бонусах и прочих рекламных сообщениях как Администратора, так и третьих лиц, которым Администратор дал согласие на рассылку рекламных рассылок.<br>
    2.3. Пользователь гарантирует, что данные, указанные при Регистрации, являются актуальными и достоверными.<br>
    2.4. Администратор вправе вести учет активности Пользователя на Сервисе и, с учетом этой информации, производить для Пользователя показ рекламной информации. Указанная информация рассматривается как закрытая и не подлежит разглашению Администратором, Пользователями и третьими лицами.<br>
    2.5. Администратор вправе устанавливать любые дополнительные требования и ограничения для Пользователя применительно к Регистрации на Сервисе и использованию сервисов и функционала Сервиса.
    <br>
    <h4>3.	Предмет Оферты</h4>
    3.1. В соответствии с условиями настоящей Оферты Администратор предоставляет, а Пользователь принимает персональную неисключительную некоммерческую ограниченную лицензию без права передачи, сублицензирования, которая может быть полностью аннулирована, на использование Сервиса в соответствии с условиями, изложенными в тексте настоящей Оферты.
    Лицо, не согласное с условиями настоящей Оферты не имеет права Регистрироваться в Сервисе или использовать функционал Сервиса.<br>
    3.2. Оферта регулирует порядок пользования Сервисом, а также права и обязанности Администратора и его Пользователей. Положения Оферты являются обязательными для всех Пользователей и распространяются также на отношения, связанные с правами и интересами третьих лиц, не являющихся Пользователями Сервиса, но чьи права и интересы могут быть затронуты в результате действий Пользователей Сервиса.<br>
    3.3. Оферта является открытым и общедоступным документом. Настоящая Оферта может быть изменена и/или дополнена Администратором в одностороннем порядке без какого-либо специального уведомления (согласия) Пользователя. Действующая редакция Оферты размещена в сети Интернет по адресу: www.roh.tj<br>
    Администратор рекомендует Пользователям регулярно проверять условия настоящей Оферты на предмет его изменения и/или дополнения. Продолжение использования Сервиса после внесения изменений и/или дополнений в настоящую Оферту будет означать принятие и согласие Пользователя с такими изменениями и/или дополнениями.<br>
    3.4. Настоящая Оферта, все изменения и дополнения к нему, вступают в силу с момента их опубликования в сети Интернет по адресу, указанному в п.3.3.настоящей Оферты. Пользователь имеет право отказаться от принятия изменений и/или дополнений к настоящей Оферте, что расценивается как отказ Пользователя от использования Сервиса.<br>
    3.5. Территория передаваемых прав – Российская Федерация.<br>
    3.6. Срок передаваемых прав - ограничен сроком действия настоящей Оферты, указанный в соответствующем разделе Оферты.
    <br>
    <h4>4.	Статус Сервиса</h4>
    4.1. Все права на объекты интеллектуальной собственности Сервиса (программное обеспечение, коммерческое обозначение, товарный знак «Roh» и пр. объекты интеллектуальной собственности) в целом и на использование сетевого адреса (доменного имени) roh.tj принадлежат Администратору на основании соответствующих договоров, разрешений, свидетельств. Последний предоставляет доступ к Сервису всем заинтересованным Пользователям при условии соблюдения ими положений настоящей Оферты, иных документов Сервиса и действующего законодательства Российской Федерации.<br>
    4.2. Администратор не предоставляет Пользователям никаких услуг кроме предоставления доступа к функционалу Сервиса.<br>
    4.3. В рамках неисключительной лицензии, Пользователь вправе использовать Сервис путем получения доступа к Сервису посредством сайта www.roh.tj и/или мобильного приложения «Roh».<br>
    4.4. Сервис не является таксомоторной организацией, самостоятельно не оказывает Пользователям услуг по перевозке пассажиров и багажа, услуг по перевозке грузов или каких-либо иных транспортных услуг, являясь интернет-агрегатором, позволяющим Пользователям взаимодействовать.
    <br>
    <h4>5.	Права и обязанности Администратора</h4>
    5.1. Все обращения, предложения и претензии физических и юридических лиц к Администратору, в связи с настоящей Офертой и всеми вопросами по функционированию Сервиса, нарушениям прав и интересов третьих лиц при его использовании, а также запросы уполномоченных законодательством Российской Федерации лиц должны быть направлены электронную почту, указанный в разделе 10 настоящей Оферты.<br>
    5.2. В отношении функционирования и развития Сервиса, Администратор руководствуется законодательством Российской Федерации, настоящей Офертой, Политикой конфиденциальности и иными документами, которые разработаны или могут быть разработаны и приняты Администратором в целях регламентации предоставления Пользователям отдельных функционалов Сервиса.<br>
    5.3. Никакие положения настоящей Оферты не предоставляют Пользователям и третьим лицам право на использование фирменного наименования, товарных знаков, доменных имен и иных отличительных знаков Администратора, а также объектов интеллектуальной собственности, принадлежащих Администратору.<br>
    5.4. Администратор обеспечивает функционирование и работоспособность Сервиса и обязуется оперативно восстанавливать его работоспособность в случае технических сбоев и перерывов. Администратор не несет ответственность за временные сбои и перерывы в работе Сервиса и вызванную ими потерю информации.<br>
    5.5. Администратор не несет ответственности за нарушение Пользователем настоящей Оферты. Администратор, при получении информации от, Пользователей либо третьих лиц о нарушении Пользователем настоящей Оферты вправе изменять (модерировать) и/или удалять любую публикуемую Пользователем информацию, нарушающую запреты, установленные как настоящей Офертой, так и иными документами и Правилами Сервиса, приостанавливать, ограничивать или прекращать доступ Пользователя ко всем или к любому из разделов или функционалов Сервиса в любое время по любой причине или без объяснения причин, с предварительным уведомлением или без такового, не отвечая за любой вред, который может быть причинен Пользователю таким действием. Администратор не несет ответственность за осуществленное в соответствии с настоящей Офертой временное блокирование или удаление информации Пользователя.<br>
    5.6. Администратор не несет ответственности за действия Пользователей и за взаимоотношения между Пользователями. Администратор ни при каких обстоятельствах не может быть привлечен в качестве Стороны по спорам между Пользователями, по спорам между Пользователями и третьими лицами/ органами государственной власти.<br>
    5.7. Администратор вправе направлять уведомления Пользователям посредством СМС-сообщений или иных каналов связи.<br>
    5.8. Администратор вправе получать лицензионное вознаграждение от Пользователей в рамках настоящей Оферты.<br>
    5.9. Администратор и/или уполномоченные им третьи лица вправе в любой момент заблокировать доступ любого Пользователя к Сервису без уведомления Пользователя при подозрении на нарушение Пользователем условий настоящей Оферты. При этом, Пользователь обязуется не предъявлять никаких претензий Администратору, а Администратор вправе не возвращать Пользователю оплаченное лицензионное вознаграждение.
    <br>
    <h4>6.	Регистрация на Сервисе и статус Пользователя. Персональные данные</h4>
    6.1. Регистрация на Сервисе является добровольной, бесплатной и осуществляется в сети Интернет по адресу: roh.tj и в мобильном приложении «Roh».<br>
    Регистрация считается оконченной в момент заполнения Регистрационной формы и отправки ее Лицензиару. После отправки Регистрационной формы на телефон Пользователя приходит уведомление подтверждающее прохождение Регистрации.<br>
    Процедура прохождения Регистрации включает в себя также принятие Пользователем условий Политики конфиденциальности Сервиса, а также дачу согласия на обработку персональных данных.<br>
    6.2. Введенные Пользователем при Регистрации Логин и Пароль, а также дача согласия на обработку персональных данных являются необходимой и достаточной информацией для доступа Пользователя категории «Пассажир» на Сервис.<br>
    6.3. Пользователь подтверждает, что данные являются общедоступными и доступны любому Пользователю Сервиса и обрабатываются в соответствии с действующим законодательством РТ о защите персональных данных (в случае, если указанные данные относятся к персональным в соответствии с действующим законодательством) и Политикой конфиденциальности Сервиса.<br>
    6.4. С учетом положений п. 6.3., настоящей Оферты Пользователь осознает и дает согласие, что в результате сбоя, технических неисправностей, действий третьих лиц в том числе (но не ограничиваясь) вирусной или хакерской атаки, данные Пользователя, указанные на Сервисе, могут стать доступны третьим лицам. Пользователь обязуется не предъявлять требований к Администратору в случае наступления указанных обстоятельств.<br>
    6.5. Пользователь дает согласие Администратору на:<br>
    a) передачу учетных данных посредством Сервиса неограниченному кругу лиц в т.ч. посредством сети Интернет;<br>
    b) использование учетных и статистических данных Пользователя для демонстрации рекламных объявлений;<br>
    c) направления информации об услугах, новостях Администратора и (или) партнеров Администратора;<br>
    d) предоставления персональных данных уполномоченным органам государственной власти, в случае поступления соответствующих запросов;<br>
    e) осуществление иных действий, указанных в Политике конфиденциальности Сервиса.<br>
    6.6. Пользователь имеет право в любой момент изменить данные, указанные при Регистрации, используя Личный кабинет.<br>
    6.7. Пользователи гарантируют свою дееспособность, что имеют полное право и полномочия на заключение и исполнение настоящей Оферты, в том числе на выплату Администратору лицензионного вознаграждения в рамках настоящей Оферты.<br>
    6.8. Размещая данные и сведения и присоединяясь к настоящей Оферте, Пользователь выражает свое согласие Администратору на обработку данных в соответствии с положения Оферты и Политики конфиденциальности, на отражение их в профиле Пользователя с учетом доступного функционала (который может быть изменен по усмотрению Администратора), а также на то, что отражаемые в профиле учетные данные и иные данные будут считаться доступными для пользователей сети Интернет с учетом такого функционала. Пользователь соглашается на передачу Администратором третьим лицам учетных и иных данных, в том числе для целей их обработки, для обеспечения функционирования Сервиса, его отдельных функционалов; реализации партнерских и иных программ Сервиса.<br>
    6.9. Цель обработки персональных данных Пользователя заключается в предоставлении последнему возможности получения неисключительной лицензии на использование как самого Сервиса, так и дополнительных функциональных (программных) возможностей Сервиса, проведения рекламных кампаний, предоставления таргетированной рекламы и иных информационных функционалов сети Интернет, проведение статистических исследований и анализ полученных статистических данных, осуществление иных действий, описанных в настоящей Оферте. Обработка персональных данных Пользователя осуществляется Администратором в срок с момента регистрации Пользователя и до момента удаления его учетной записи.<br>
    6.10. Пользователи при регистрации информации, несут ответственность перед Администратором, другими Пользователями, любыми третьими лицами и органами государственной власти за точность и достоверность такой информации.<br>
    6.11. При регистрации Пользователей Администратор не осуществляют контроль за их дееспособностью и правоспособностью. В том случае, если у Администратора имеются основания полагать, что Пользователь нарушил условия регистрации на Сервисе, то Администратор оставляет за собой право приостановить либо аннулировать регистрацию Пользователя и отказать в доступе к функционалам, размещенным на Сервисе.<br>
    6.12. Администратор не несет ответственность за информацию, предоставленную Пользователем при Регистрации в случае, если Пользователь самостоятельно предоставил доступ к такой информации третьим лицам.<br>
    6.13. При пользовании Сервисом Пользователям запрещается использовать (размещать) материалы, содержащие:<br>
    6.13.1.нецензурные или бранные слова или словосочетания, порнографические изображения и тексты или сцены сексуального характера;<br>
    6.13.2.угрозы, призывы к насилию и совершению противоправных действий, нарушению законодательства РТ;<br>
    6.13.3.элементы насилия, жестокости, расовой, межнациональной или межрелигиозной розни, а также ссылки на такие материалы;<br>
    6.13.4.нацистскую атрибутику или символику;<br>
    6.13.5.пропаганду преступной деятельности, руководства по совершению противоправных действий;<br>
    6.13.6.материал, содержащий угрозы, который дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию или нарушает неприкосновенность частной жизни других Пользователей или третьих лиц;<br>
    6.13.7.информацию/объявления о реализации/доставке: алкогольных и спиртосодержащих напитков, пива и напитков на его основе; наркотических средств и иных запрещенных средств;<br>
    6.13.8.иные материалы нарушающие действующее законодательство РТ.<br>
    6.14. Пользователь соглашается соблюдать все законы в налоговой сфере, включая законы о декларировании и уплате налогов, возникающих в связи с использованием Сервиса, и несет ответственность за декларирование и уплату всех применимых налогов.
    <br>
    <h4>7.	Ответственность сторон. Ограничения ответственности</h4>
    7.1. Сторона, нарушившая свои обязательства по настоящей Оферте должна без промедления устранить нарушения или принять меры к устранению последствий.<br>
    7.2. Пользователь использует функционал Сервиса на свой собственный риск. Администратор не принимает на себя никакой ответственности, в том числе за соответствие сервисов целям Пользователя.<br>
    7.3. При любых обстоятельствах ответственность Администратора Сервиса ограничивается суммой, в размере 1 000 (одна тысяча) сомонией.<br>
    7.4. Пользователь самостоятельно несет ответственность за сохранность своего Логина и Пароля и за убытки, которые могут возникнуть по причине его несанкционированного использования.<br>
    7.5. Администратор не несет ответственности за вещи оставленные у водителей Сервиса.<br>
    7.6. Информацию, полученную на Сервисе, нельзя передавать третьим лицам.<br>
    7.7. Пользователь обязуется соблюдать законодательство Российской Федерации и самостоятельно нести ответственность, в случае невыполнения условий настоящей Оферты и нарушения законодательства Российской Федерации.<br>
    7.8. Администратор ни при каких обстоятельствах не несет ответственность за действия (бездействия) Пользователей и третьих лиц и за обстоятельства непреодолимой силы (форс-мажор), повлекшие причинение морального и (или) материального вреда, а также вреда жизни и здоровью вне зависимости от того, мог ли Администратор предвидеть возможность наступления такого вреда и возможность его устранения или не мог. Администратор ни при каких обстоятельствах не может быть привлечен в качестве Стороны по спорам между Пользователями, между Пользователя и третьими лицами, между Пользователями и органами государственной власти.<br>
    7.9. Пользователи обязуются соблюдать законодательство Российской Федерации, субъекта Российской Федерации, на территории которого предоставляют услуги по перевозке. Пользователи подтверждают, что уведомлены о наступлении гражданско-правовой, административной и уголовной ответственности, в случае нарушения условий настоящей Оферты и законодательства Российской Федерации, субъекта Российской Федерации.<br>
    7.10. Сервис предоставляется Пользователю «как есть» (as is), в соответствии с общепринятым в международной практике принципом. Это означает, что за проблемы, возникающие в процессе установки, обновления, поддержки и эксплуатации Сервиса (в т. ч. проблемы совместимости с другими программными продуктами (пакетами, драйверами и др.), несоответствия результатов использования Сервиса ожиданиям Пользователя и т.п.), Администратор ответственности не несет. Пользователь должен понимать, что несет полную ответственность за возможные негативные последствия, вызванные несовместимостью или конфликтами Сервиса с другими программными продуктами, установленными на компьютере или ином устройстве Пользователя. Сервис не предназначен и не может быть использован в информационных системах, работающих в опасных средах либо обслуживающих системы жизнеобеспечения, в которых сбой в работе Сервиса может создать угрозу жизни людей или повлечь большие материальные убытки.
    <br>
    <h4>8.	Срок действия Оферты. Порядок расторжения.</h4>
    8.1. Настоящая Оферта вступает в силу с даты акцепта и действует до расторжения Сторонами, а в части передачи неисключительной лицензии — в течение срока, установленного Администратором.<br>
    8.2. Настоящая Оферта является офертой и в силу действующего гражданского законодательства РТ Пользователь имеет право на отзыв оферты в любое время в соответствии с положениями ГК РТ путем направления соответствующего письма на адрес электронной почты Администратора, указанный в настоящей Оферте. В случае отзыва настоящей Оферты Пользователем в течение срока его действия настоящая Оферта считается прекращенной в течение 5 (пяти) рабочих дней с момента направления Пользователем отзыва.<br>
    8.3. Настоящая Оферта может быть расторгнута досрочно:<br>
    8.3.1 по взаимному соглашению Сторон.<br>
    8.3.2 по инициативе Администратора в одностороннем внесудебном порядке в случае нарушения Пользователем условий настоящей Лицензионной оферты.<br>
    8.3.3 по инициативе Администратора в одностороннем внесудебном порядке в случае нарушения Пользователем авторского права третьих лиц без возврата Пользователю каких-либо денежных средств (в случае, если они были оплачены).
    <br>
    <h4>9.	Обстоятельства непреодолимой силы.</h4>
    9.1. Основанием, освобождающим Стороны от ответственности, является действие непреодолимой силы. Под непреодолимой силой в смысле данного пункта понимаются обстоятельства, указанные в п. 3 ст. 401 ГК Российской Федерации, включая обстоятельства, возникшие помимо воли и желания сторон и которые нельзя предвидеть или избежать (обстоятельства непреодолимой силы), включая объявленную или фактическую войну, решения и постановления федеральных, региональных и муниципальных органов власти и управления, гражданские волнения, эпидемии, блокаду, общегородские мероприятия, связанные с перекрытием автодорог и улиц, митинги, забастовки, дорожно-транспортные происшествия, пробки на дорогах, эмбарго, включая аномальные природные условия: гололед, дожди, снегопад, мороз, наводнение, землетрясение и.т.д., пожары и другие стихийные бедствия.<br>
    9.2. Стороны, подвергшиеся действию непреодолимой силы, обязаны немедленно по номеру телефона/факсу/электронной почте/sms-уведомлением/мессенджером известить другую Сторону о возникновении, о виде, возможной продолжительности действия непреодолимой силы и о том, выполнению каких именно обязанностей она препятствует.<br>
    9.3. В случае наступления вышеуказанных обстоятельств, подтвержденного своевременным уведомлением другой стороны, выполнение обязательств противоположной стороной сдвигается на время действия этих обстоятельств. В случае не уведомления, Сторона, подвергшаяся действию непреодолимой силы, не может в дальнейшем ссылаться на действие непреодолимой силы как на основание, освобождающее её от ответственности.
    <br>
    <h4>10.	Разрешение споров</h4>
    10.1. Все споры по настоящей Оферте решаются путем переговоров. Стороны устанавливают обязательный досудебный порядок. Пользователь обязан направить претензию Администратору на адрес электронной почты, указанный в настоящей Оферте. Администратор отвечает на претензию в течении 30 (тридцати) календарных дней с момента получения претензии.<br>
    10.2. В случае невозможности урегулирования возможных споров по настоящей Оферте, такие споры будут рассмотрены в судебном порядке по месту нахождения Администратора, в соответствии с законодательством РТ.
    <br>
    <h4>11.	Иные положения</h4>
    11.1. Пользователь осуществляет взаимодействие с Администратором только по данным указанным в настоящей Оферте.<br>
    11.2. Отношения, возникающие из настоящей Оферты регулируются законодательством РТ.<br>
    11.3. Пользователь самостоятельно и за свой счет несет полную ответственность за причинение ущерба Пользователям/третьим лицам либо грузу в случае ДТП.<br>
    11.4. Администратор не обязан хранить данные Пользователя (сведения базы данных, статистику и т. д.) и вправе их удалить из базы данных.<br>
    11.5. Пользуясь Сервисом, Пользователи в соответствии с положениями Федерального закона от 27 июля 2006 года № 152-ФЗ «О персональных данных», дают свое согласие на обработку Администратором персональных данных, включающих: фамилию, имя, отчество, фотографию, пол, дату рождения, номера контактных телефонов, данные о транспортном средстве; предоставляют Администратору право осуществлять все действия (операции) со своими персональными данными в целях выполнения условий настоящего Соглашения, включая сбор, систематизацию, накопление, хранение, обновление, изменение использование, обезличивание, блокирование, уничтожение, включая обработку персональных данных посредством внесения их в электронную базу данных, включения в списки (реестры) и отчетные формы, прием и передачу своих персональных данных с использованием машинных носителей и по каналам связи, с соблюдением мер, обеспечивающих их защиту от несанкционированного доступа, при условии, что их прием и обработка будут осуществляться лицом, обязанным сохранять профессиональную тайну.<br>
    11.6. Пользователь вправе отозвать свое согласие на обработку персональных данных посредством направления в адрес Администратора соответствующего письменного заявления на адрес электронной почты, указанный в Оферте.
    <br>
    <h4>12.	Реквизиты Администратора</h4>
    Прием жалоб и пожеланий Пользователей о качестве работы Сервиса осуществляется по адресу электронной почты: help@roh.tj тел.: 927888877<br><br>



    <center>
        <h4>ПРИЛОЖЕНИЕ № 1</h4>
        к Лицензионному соглашению (Публичной оферте)
    </center><br>
    <h6><strong>I.	Условия пользования Сервисом Пользователями в режиме «Водитель» для функционала «ГОРОД».</strong></h6><br>
    <strong>Термины:</strong><br>
    Монета — внутренняя валюта Сервиса, эквивалентная 5 (пяти) сомониям.<br>
    Активация — срок действия неисключительной лицензии: период времени, исчисляемый в часах. Начало активации определяется моментом подключения в личном кабинете Пользователя. Конец активации — 05 часов 00 минут утра местного времени.<br>
    Пользование Лицензией (далее - Доступ) — предоставляемая Сервисом возможность за одну Активацию звонить Пользователям в режиме «Пассажир», разместившим заказы на Сервисе в функционале «Город».<br>
    1. Размер лицензионного вознаграждения определяется Категорией, выбранной Пользователем:<br>
    1.1.Категория в режиме «Пассажир» является безвозмездной.<br>
    1.2.Категория в режиме «Водитель» является возмездной.<br>
    2. Лицензионное вознаграждение выплачивается в рублях путем оплаты с использованием платежных систем, смс-оплаты и прочих видов оплаты.<br>
    Обязанность Лицензиата (Водителя) по оплате считается исполненной в момент зачисления денежных средств на счет платежной системы Администратора.<br>
    Сроки зачисления денежных средств на счет Администратора могут составлять до 3 (трех) банковских дней и не зависят от Администратора.<br>
    3. Администратор предоставляет Пользователю в категории «Водитель» возможность за одну Активацию звонить Пользователям в категории «Пассажир», разместившим заказы на Сервисе в функционале «Город», а Пользователь в категории «Водитель», в свою очередь, оплачивает лицензионное вознаграждение за предоставленный Доступ к Сервису.<br>
    4. Плата за Доступ осуществляется посредством зачисления монет на счет Пользователя в категории «Водитель». Пользователь понимает и соглашается с тем, что денежные средства внесенные Пользователем, зачисляются на счет и конвертируются в Монеты за вычетом комиссии, взимаемой платежными системами и организациями, осуществляющими прием платежей.<br>
    5. Денежные средства, зачисленные на счет Пользователя в категории «Водитель», конвертируются во внутреннюю валюту — Монеты. В случае, если Администратором было принято решение приостановить либо аннулировать регистрацию Пользователя в категории «Водитель» путем установки «бана», денежные средства, зачисленные на счет такого Пользователя, в том числе не использованные, не возвращаются, не компенсируется и в счет будущих Активаций не учитываются.<br>
    6. Стоимость Активации для Пользователя в категории Водитель составляет фиксированное лицензионное вознаграждение за доступ к функционалу «Город» и отличается в зависимости от города функционирования Сервиса.<br>
    7. В случае недоступности Сервиса менее 6 часов, монеты за Доступ не возвращаются.<br>
    8. Лицензиат (Водитель) не имеет права совершать оплату по настоящей Оферте в пользу Лицензиара (Администратора) со счетов третьих лиц, не получив предварительное письменное согласие Лицензиара (Администратора).<br>
    9. Лицензиар (Администратор) имеет право устанавливать скидки на Активацию в категории «Водитель». Размер и время действия скидки устанавливается Лицензиаром (Администратором) самостоятельно и доводится до сведения Лицензиата (Водителя) посредством размещения информации на Сервисе и (или) посредством направления рассылки Лицензиату (Водителю).<br>
    10. Настоящее Приложение является неотъемлемой частью Лицензионного Соглашения (Публичной оферты) Сервиса.<br><br>

    <h6><strong>II.	Условия пользования Сервисом Пользователями в режиме «Водитель» для функционала «МЕЖГОРОД», «ГРУЗОВЫЕ».</strong></h6><br>

    <strong>Термины:</strong><br>
    Монета — внутренняя валюта Сервиса, эквивалентная 5 (пяти) сомониям.<br>
    Пользование Лицензией (далее - Доступ) — предоставляемая Сервисом возможность Пользователям категории «Водитель» размещать заявки в ленте объявлений на функционалах «Межгород» и «Грузовые».<br>
    1. Размер лицензионного вознаграждения составляет:<br>
    1.1.Для Пользователя категории «Пассажир» - бесплатно.<br>
    1.2.Для Пользователя категории в режиме «Водитель» - 1 (одно) бесплатное размещение в месяц, последующее размещение от 5 (пяти) монет до 15 (пятнадцати) монет за каждое размещенное объявление в зависимости от указанного направления по разделам «Межгород» и «Грузовые».<br>
    1.3. Для Пользователя категории в режиме «Водитель», подключившего Активацию согласно функционалу «Город», а также дополнительно разместившего объявления в функционалах «Межгород» и «Грузовые» - стоимость активации по функционалу «Город» и дополнительно стоимость лицензионного вознаграждения за каждое размещенное объявление в зависимости от указанного направления по разделам «Межгород» и «Грузовые».<br>
    2. Лицензионное вознаграждение выплачивается в сомониях путем оплаты с использованием платежных систем, смс-оплаты и прочих видов оплаты.<br>
    Обязанность Лицензиата (Водителя) по оплате считается исполненной в момент зачисления денежных средств на счет платежной системы Администратора.<br>
    Сроки зачисления денежных средств на счет Администратора могут составлять до 3 (трех) банковских дней и не зависят от Администратора.<br>
    3. Администратор предоставляет Пользователю в категории «Водитель» размещать объявления в функционалах «Межгород» и «Грузовые», а Пользователь в категории «Водитель», в свою очередь, оплачивает лицензионное вознаграждение за предоставленный Доступ к Сервису.<br>
    4. Плата за Доступ осуществляется посредством зачисления монет на счет Пользователя в категории «Водитель». Пользователь понимает и соглашается с тем, что денежные средства внесенные Пользователем, зачисляются на счет и конвертируются в Монеты за вычетом комиссии, взимаемой платежными системами и организациями, осуществляющими прием платежей.<br>
    5. Денежные средства, зачисленные на счет Пользователя в категории «Водитель», конвертируются во внутреннюю валюту — Монеты. В случае, если Администратором было принято решение приостановить либо аннулировать регистрацию Пользователя в категории «Водитель» путем установки «бана», денежные средства, зачисленные на счет такого Пользователя, в том числе не использованные, не возвращаются, не компенсируется и в счет будущих размещений объявлений не учитываются.<br>
    6. В случае недоступности Сервиса менее 6 часов, монеты за Доступ не возвращаются.<br>
    7. Лицензиат (Водитель) не имеет права совершать оплату по настоящей Оферте в пользу Лицензиара (Администратора) со счетов третьих лиц, не получив предварительное письменное согласие Лицензиара (Администратора).<br>
    8. Лицензиар (Администратор) имеет право устанавливать скидки на доступ к функционалу Сервиса для категории «Водитель». Размер и время действия скидки устанавливается Лицензиаром (Администратором) самостоятельно и доводится до сведения Лицензиата (Водителя) посредством размещения информации на Сервисе и (или) посредством направления рассылки Лицензиату (Водителю).<br>
    10. Настоящее Приложение является неотъемлемой частью Лицензионного Соглашения (Публичной оферты) Сервиса.<br>
</div>
