﻿@{
    Layout = "~/Views/Shared/_Layout_3.cshtml";
    ViewData["Title"] = "Карта";
}
<h3>@ViewData["Message"]</h3>



<!-- Begin page content -->
<div class="container-fluid">
            <div class="box box-success">
                <!--<div class="page_load">
                    <img title="Loading..." alt="Loading..." src="">
                </div>-->
                <div id="map" style="height:700px;width:100%;margin-top:10px;"></div>
                <input type="hidden" name="latitude" id="latitude">
                <input type="hidden" name="longitude" id="longitude">
            </div>
            <!-- map page js starts -->
            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyAsaUntyPu2vVN466_vf92Smpzdx3qkzBQ"></script>
            

    <!--<div class="row text-xs-center text-md-left">
        <div class="col-xs-12 col-sm- col-md- col-lg-">
            <br />
            <img src="/images/map/driver_available.png" style="height:50px;" /> Свободен
            <img src="/images/map/driver_on_trip.png" style="height:50px;" /> В дороге<br />
            <img src="/images/map/driver_not_approved.png" style="height:25px;" /> Неактивный<br />
        </div>
    </div>-->
<!--End row-->

        </div>
