﻿@using NonFactors.Mvc.Grid;

@model IEnumerable<RohTjWeb.Models.Order>

@{
    ViewData["Title"] = "Заказы";
}
<div class="container-fluid">
    <h2>Заказ</h2>

    <p>
        <a asp-action="Create">Создать новый</a>
    </p>

    <div class="box box-info tbl-box">
        @(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.CreatedAt).Titled("Дата создания");
        columns.Add(model => model.Client.PhoneNumber).Titled("№ Клиент");
        columns.Add(model => model.Driver.PhoneNumber).Titled("№ Водитель");
        columns.Add(model => model.From).Titled("Откуда");
        columns.Add(model => model.To).Titled("Куда");
        columns.Add(model => model.Price).Titled("Цена");
        columns.Add(model => model.IsDriver).Titled("Водитель");
        columns.Add(model => $"<div class=\"status {model.Status}\">{model.Status}</div>").Encoded(false).Filterable(true);
        columns.Add(model => $"<div class='dropdown'>" +
        $"<button class='btn btn-sm btn-primary dropdown-toggle' type='button' data-toggle='dropdown'>Действие <span class='caret'></span></button>" +
        $"<ul class='dropdown-menu'>" +
        $"<li><a href=\"{Url.Action("Edit", "Order")}/{model.Id}\">Редактировать</a></li>" +
        $"<li><a href=\"{Url.Action("Details", "Order")}/{model.Id}\">Детали</a></li>" +
        $"<li><a href=\"{Url.Action("Delete", "Order")}/{model.Id}\">Удаление</a></li>" +
        $"</ul></div>").Encoded(false);
        
    })
    .Filterable()
    .Sortable()
    .Pageable()
    .Empty("По вашему запросу ничего не найдено")
        )

    </div>
    <br />
</div>