﻿@using NonFactors.Mvc.Grid;

@model IEnumerable<RohTjWeb.Models.Order>

@{
    ViewData["Title"] = "Грузовые Заказы";
}

<h2>@ViewData["Title"]</h2>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.CreatedAt).Titled("Дата создания");
        columns.Add(model => model.Client.PhoneNumber).Titled("№ Клиент");
        columns.Add(model => model.Driver.PhoneNumber).Titled("№ Водитель");
        columns.Add(model => model.From).Titled("Откуда");
        columns.Add(model => model.To).Titled("Куда");
        columns.Add(model => model.Price).Titled("Цена");
        columns.Add(model => model.IsDriver).Titled("Водитель");
        columns.Add(model => $"<div class=\"status {model.Status}\">{model.Status}</div>").Encoded(false).Filterable(true);

    })
    .Filterable()
    .Sortable()
    .Pageable()
    .Empty("По вашему запросу ничего не найдено")
)
<br/>
